.calendar .container {
  width: calc(100% - 140px);
  float: right;
  background-color: #f5f5f9;
  padding-left: 24px;
  padding-right: 24px;
}

.calendar .container .calendar-content {
  background-color: white;
  border-radius: 8px;
  color: rgba(50, 71, 92, 0.87);
  display: flex;
  overflow: hidden;
  display: flex;
}

.event-wrapper .event-header {
  padding: 20px 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(34, 48, 62, 0.12);
}

.event-wrapper .event-header h5 {
  font-size: 18px;
}

.event-wrapper .event-header button {
  border: none;
  background-color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  padding: 5px;
  box-sizing: unset;
}

.event-wrapper .event-header button:hover {
  background-color: rgba(34, 48, 62, 0.08);
  border-radius: 50%;
}

.event-wrapper .event-body {
  padding: 24px;
}

.event-wrapper .event-body form {
  display: flex;
  flex-direction: column;
}

.event-wrapper .event-body form .input-field {
  margin-bottom: 24px;
}

.event-wrapper .event-body form .buttons-wrapper .btn-add {
  margin-right: 24px;
  text-transform: none;
  color: #fff;
  background-color: #696cff;
  box-shadow: none;
}

.event-wrapper .event-body form .buttons-wrapper .btn-add:hover {
  background-color: 94, 97, 229;
}

.event-wrapper .event-body form .buttons-wrapper .btn-reset {
  text-transform: none;
  color: #8592A3;
  background-color: rgba(133, 146, 163, 0.16);
  box-shadow: none;
}

.event-wrapper .event-body form .buttons-wrapper .btn-reset:hover {
  background-color: #788393;
  color: #fff;
}
