.day-box {
    padding: 8px;
    height: 100%;
    box-sizing: border-box;
    &.today{
        background-color: rgba(34, 48, 62, 0.06);
    }

    .day-box-top {
        .currentMonth {
            color: rgba(34, 48, 62, 0.7)
        }

        .notCurrentMonth {
            color: rgba(34, 48, 62, 0.4)
        }
    }
}