.day-box {
    border: 1px solid rgba(34, 48, 62, .12);
    padding: 8px;
    width: 100%;
    &.today{
        background-color: rgba(34, 48, 62, 0.06);
    }

    .day-box-top {
        .currentMonth {
            color: rgba(34, 48, 62, 0.7)
        }

        .notCurrentMonth {
            color: rgba(34, 48, 62, 0.4)
        }
    }
}