.calendar-right {
    flex: 80%;

    .calendar-right-top {
        padding: 23px 24px;
        display: flex;
        justify-content: space-between;
        border-bottom: 0.5px solid rgba(34, 48, 62, 0.12);

        .toolbar-left {
            display: flex;
            align-items: center;

            .btn-left,
            .btn-right {
                width: 38px;
                height: 38px;
                display: flex;
                align-items: center;
                justify-content: center;
                border: none;
                background-color: #fff;
                cursor: pointer;
            }

            h2 {
                margin: 0 16px;
                font-size: 24px;
            }
        }

        .toolbar-right {
            .btn {
                border: none;
                padding: 8px 16px;
                border: none;
                background-color: rgba(105, 108, 255, .16);
                color: #696CFF;
                cursor: pointer;
                font-size: 15px;
            }

            .btn.selected {
                color: #fff;
                background-color: #696CFF;
            }

            .month.btn {
                border-radius: 6px 0 0 6px;
                border-right: 1px solid rgba(105, 108, 255, .6);
            }

            .week.btn {
                border-right: 1px solid rgba(105, 108, 255, .6);
            }

            .day.btn {
                border-radius: 0 6px 6px 0;
            }
        }
    }

    .calendar-right-bottom {
        .dayofWeek{
            font-weight: 500;
        }

        .month-row {
            .each-day {
                border: 1px solid rgba(34, 48, 62, .12);
                height: 130px;
            }
        }
    }
}