.calendar-right {
    flex: 80%;

    .calendar-right-top {
        padding: 23px 24px;
        display: flex;
        justify-content: space-between;
        border-bottom: 0.5px solid rgba(34, 48, 62, 0.12);

        .toolbar-left {
            display: flex;
            align-items: center;

            .btn-left,
            .btn-right {
                width: 38px;
                height: 38px;
                display: flex;
                align-items: center;
                justify-content: center;
                border: none;
                background-color: #fff;
                cursor: pointer;
            }

            h2 {
                margin: 0 16px;
                font-size: 24px;
            }
        }

        .toolbar-right {
            .btn {
                border: none;
                padding: 8px 16px;
                border: none;
                background-color: rgba(105, 108, 255, .16);
                color: #696CFF;
                cursor: pointer;
                font-size: 15px;
            }

            .btn.selected {
                color: #fff;
                background-color: #696CFF;
            }

            .month.btn {
                border-radius: 6px 0 0 6px;
                border-right: 1px solid rgba(105, 108, 255, .6);
            }

            .week.btn {
                border-right: 1px solid rgba(105, 108, 255, .6);
            }

            .day.btn {
                border-radius: 0 6px 6px 0;
            }
        }
    }

    .calendar-right-bottom {
        table {
            border-collapse: collapse;
            width: 100%;
            height: 100%;

            thead {
                height: 40px;
                border-left: 0.5px solid rgba(34, 48, 62, 0.12);

                .col-header {
                    display: flex;
                    height: 100%;

                    .dayofWeek {
                        font-weight: 500;
                        flex: 1;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
            }

            tbody {
                .month-row {
                    display: flex;

                    .each-day {
                        border: 1px solid rgba(34, 48, 62, .12);
                        height: 130px;
                        flex: 1;
                        width: 0;
                        // overflow: hidden;   
                        position: relative;

                        .show-more {
                            position: absolute;
                            top: 0;
                            left: 0;
                            z-index: 10;
                            min-width: 220px;
                            background-color: #fff;
                            border-radius: 6px;
                            border: 1px solid #ddd;
                            box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 6px;

                            .show-more-header {
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                padding: 8px;
                                border-start-start-radius: 6px;
                                border-start-end-radius: 6px;
                                background-color: rgba(34, 48, 62, .12);

                                .text {
                                    font-size: 15px;
                                }

                                .icon-wrapper {
                                    cursor: pointer;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    .clear-icon {
                                        width: 16.5px;
                                        height: 16.5px;
                                    }
                                }
                            }
                            .show-more-body{
                              padding: 10px;
                              .event-name {
                                max-width: 100%;
                                padding: 3px 12px;
                                margin-bottom: 10px;
                                font-size: 13px;
                                border-radius: 4px;
                                text-overflow: ellipsis;
                                overflow: hidden;
                                white-space: nowrap;
                                // display: block;
                                width: 100%;
                                box-sizing: border-box;
                                cursor: pointer;
                    
                                &.Personal-event {
                                    color: #ff3E1d;
                                    background-color: rgba(255, 62, 29, 0.16);
                                }
                    
                                &.Business-event {
                                    color: #696cff;
                                    background-color: rgba(105, 108, 255, .16);
                                }
                                &.Family-event {
                                    color: #ffab00;
                                    background-color: rgba(255, 171, 0, .16);
                                }
                                &.Holiday-event {
                                    color: #71dd37;
                                    background-color: rgba(113, 221, 55, .16);
                                }
                                &.ETC-event {
                                    color: #03c3ec;
                                    background-color: rgba(3, 195, 236, .16);
                                }
                            }
                            }
                        }
                    }
                }
            }
        }



    }
}