.column-wrapper {
    width: 265px;
    position: relative;

    .edit-delete-wrapper {
        position: absolute;
        right: 0;
        top: 40px;
        background-color: #fff;
        z-index: 2;
        -webkit-box-shadow: 0px 13px 22px 1px rgba(189, 187, 189, 1);
        -moz-box-shadow: 0px 13px 22px 1px rgba(189, 187, 189, 1);
        box-shadow: 0px 13px 22px 1px rgba(189, 187, 189, 1);
        border-radius: 6px;

        ul {
            list-style: none;
            padding: 8px 0;

            li {
                padding: 8px 20px;
                display: flex;
                align-items: center;
                gap: 8px;
                cursor: pointer;
                &:hover{
                    background-color: rgb(230, 229, 229);
                }
            }

        }
    }

    .column-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 16px;
        cursor: grab;

        &:hover {
            .move-icon {
                opacity: 1 !important;
            }
        }

        h5 {
            font-size: 18px;
            color: rgba(34, 48, 62, 0.9);
        }

        .header-right {
            display: flex;
            align-items: center;

            .move-icon {
                width: 20px;
                height: 20px;
                color: rgba(34, 48, 62, 0.9);
                opacity: 0;
            }

            .more-icon-wrapper {
                background-color: transparent;
                border: none;
                padding: 5px;
                border-radius: 50%;
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;

                &:hover {
                    background-color: rgba(34, 48, 62, 0.08);
                }


                .more-icon {
                    width: 20px;
                    height: 20px;
                    color: rgba(34, 48, 62, 0.9);
                }
            }
        }
        .header-input{
            outline: none;
            border: none;
            background-color: inherit;
            font-size: inherit;
        }
    }

    .column-bottom {
        .bottom-content {
            display: flex;
            gap: 4px;
            align-items: center;
            cursor: pointer;

            .add-icon {
                width: 16px;
                height: 16px;
            }

            .add-text {
                font-size: 15px;
            }
        }

        .new-wrapper {
            margin-top: 16px;

            .input {
                width: 100%;
                box-sizing: border-box;
                padding: 7.5px 14px;
                border-radius: 6px;
                border-color: rgba(34, 48, 62, 0.12);
                border-width: 2px;
                outline: none;


                &:hover {
                    border-color: rgb(118, 118, 118);
                }

                &:focus {
                    border-color: #696cff;
                }
            }

            .input.error {
                border-color: red;
            }

            .button-wrapper {
                display: flex;
                gap: 16px;

                .add-btn {
                    background-color: #696cff;
                    width: 40px;
                    text-transform: none;
                }

                .cancel-btn {
                    background-color: rgba(133, 146, 163, 0.16);
                    color: #8592A3;
                    width: 40px;
                    text-transform: none;
                }
            }
        }
    }
}