.kanban {
    .container {
        width: calc(100% - 140px);
        float: right;
        background-color: rgb(245, 245, 249);
        padding-left: 24px;
        padding-right: 24px;

        .kanban-content {
            // background-color: white;
            border-radius: 8px;
            color: rgba(50, 71, 92, 0.87);
            display: flex;
            height: calc(100vh - 48px - 48px - 77px);
            overflow-y: scroll;
            display: flex;
            gap: 24px;
            .columns-wrapper{
                display: flex;
                gap: 24px;
            }
        }
    }
}