.kanban .container {
  width: calc(100% - 140px);
  float: right;
  background-color: #f5f5f9;
  padding-left: 24px;
  padding-right: 24px;
}

.kanban .container .kanban-content {
  border-radius: 8px;
  color: rgba(50, 71, 92, 0.87);
  display: flex;
  height: calc(100vh - 48px - 48px - 77px);
  overflow-y: scroll;
  display: flex;
  gap: 24px;
}

.kanban .container .kanban-content .columns-wrapper {
  display: flex;
  gap: 24px;
}

.kanban .container .kanban-content .add-new-wrapper {
  width: 265px;
}

.kanban .container .kanban-content .add-new-wrapper .add-new-content {
  display: flex;
  gap: 4px;
  align-items: center;
  cursor: pointer;
  font-weight: 500;
}

.kanban .container .kanban-content .add-new-wrapper .add-new-content .add-icon {
  width: 16px;
  height: 16px;
}

.kanban .container .kanban-content .add-new-wrapper .add-new-content .add-text {
  font-size: 18px;
}

.kanban .container .kanban-content .add-new-wrapper .new-wrapper {
  margin-top: 16px;
}

.kanban .container .kanban-content .add-new-wrapper .new-wrapper .input {
  width: 100%;
  box-sizing: border-box;
  padding: 7.5px 14px;
  border-radius: 6px;
  border-color: rgba(34, 48, 62, 0.12);
  border-width: 2px;
  outline: none;
}

.kanban .container .kanban-content .add-new-wrapper .new-wrapper .input:hover {
  border-color: #767676;
}

.kanban .container .kanban-content .add-new-wrapper .new-wrapper .input:focus {
  border-color: #696cff;
}

.kanban .container .kanban-content .add-new-wrapper .new-wrapper .input.error {
  border-color: red;
}

.kanban .container .kanban-content .add-new-wrapper .new-wrapper .button-wrapper {
  display: flex;
  gap: 16px;
}

.kanban .container .kanban-content .add-new-wrapper .new-wrapper .button-wrapper .add-btn {
  background-color: #696cff;
  width: 40px;
  text-transform: none;
}

.kanban .container .kanban-content .add-new-wrapper .new-wrapper .button-wrapper .cancel-btn {
  background-color: rgba(133, 146, 163, 0.16);
  color: #8592A3;
  width: 40px;
  text-transform: none;
}

.edit-task-wrapper .edit-task-header {
  padding: 20px 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(34, 48, 62, 0.12);
}

.edit-task-wrapper .edit-task-header h5 {
  font-size: 18px;
}

.edit-task-wrapper .edit-task-header .edit-task-header-right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.edit-task-wrapper .edit-task-header .edit-task-header-right button {
  border: none;
  background-color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  padding: 5px;
  box-sizing: unset;
}

.edit-task-wrapper .edit-task-header .edit-task-header-right button:hover {
  background-color: rgba(34, 48, 62, 0.08);
  border-radius: 50%;
}

.edit-task-wrapper .edit-task-body {
  padding: 24px;
}

.edit-task-wrapper .edit-task-body form {
  display: flex;
  flex-direction: column;
}

.edit-task-wrapper .edit-task-body form .input-field {
  margin-bottom: 24px;
}

.edit-task-wrapper .edit-task-body form .css-z3c6am-MuiFormControl-root-MuiTextField-root {
  width: 100%;
}

.edit-task-wrapper .edit-task-body form .css-2m9kme-MuiFormControl-root {
  width: 100%;
  margin: 0;
  padding-top: 10px;
  margin-top: 25px;
}

.edit-task-wrapper .edit-task-body form .assignees {
  margin-top: 25px;
}

.edit-task-wrapper .edit-task-body form .assignees .assignees-text {
  font-size: 13px;
  margin-bottom: 8px;
  display: block;
}

.edit-task-wrapper .edit-task-body form .upload-file {
  margin: 25px 0;
}

.edit-task-wrapper .edit-task-body form .upload-file .upload-file-text {
  font-size: 13px;
  display: block;
  margin-bottom: 8px;
}

.edit-task-wrapper .edit-task-body form .upload-file .upload-btn {
  color: #696cff;
  background-color: rgba(105, 108, 255, 0.16);
  text-transform: none;
}

.edit-task-wrapper .edit-task-body form .upload-file .upload-btn:hover {
  color: #fff;
  background-color: #5e61e5;
}

.edit-task-wrapper .edit-task-body form .buttons-wrapper .btn-update {
  margin-right: 24px;
  text-transform: none;
  color: #fff;
  background-color: #696cff;
  box-shadow: none;
}

.edit-task-wrapper .edit-task-body form .buttons-wrapper .btn-update:hover {
  background-color: #5e61e5;
}

.edit-task-wrapper .edit-task-body form .buttons-wrapper .btn-delete {
  text-transform: none;
  color: #ff3e1d;
  background-color: rgba(255, 62, 29, 0.16);
  box-shadow: none;
}

.edit-task-wrapper .edit-task-body form .buttons-wrapper .btn-delete:hover {
  background-color: #ff3e1d;
  color: #fff;
}
