.task-wrapper {
  margin-bottom: 16px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  background-color: #fff;
  border-radius: 6px;
  cursor: grab;
}

.task-wrapper:hover .more-icon-wrapper .more-icon {
  opacity: 1 !important;
}

.task-wrapper .options-wrapper {
  position: absolute;
  right: 0;
  top: 100px;
  background-color: #fff;
  z-index: 2;
  -webkit-box-shadow: 0px 13px 22px 1px #bdbbbd;
  -moz-box-shadow: 0px 13px 22px 1px #bdbbbd;
  box-shadow: 0px 13px 22px 1px #bdbbbd;
  border-radius: 6px;
}

.task-wrapper .options-wrapper ul {
  list-style: none;
  padding: 8px 0;
}

.task-wrapper .options-wrapper ul li {
  padding: 8px 20px;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.task-wrapper .options-wrapper ul li:hover {
  background-color: #e6e5e5;
}

.task-wrapper .task-top {
  display: flex;
}

.task-wrapper .task-top .label-wrapper {
  flex: 1;
  display: flex;
}

.task-wrapper .task-top .label-wrapper .label-text {
  font-size: 13px;
  padding: 2px 10px;
  height: 24px;
  box-sizing: border-box;
  border-radius: 4px;
}

.task-wrapper .task-top .label-wrapper .label-text.ux {
  background-color: rgba(113, 221, 55, 0.16);
  color: #71dd37;
}

.task-wrapper .task-top .label-wrapper .label-text.codeReview {
  background-color: rgba(255, 62, 29, 0.16);
  color: #ff3e1d;
}

.task-wrapper .task-top .label-wrapper .label-text.dashboard {
  background-color: rgba(3, 195, 236, 0.16);
  color: #03c3ec;
}

.task-wrapper .task-top .label-wrapper .label-text.images {
  background-color: rgba(255, 171, 0, 0.16);
  color: #ffab00;
}

.task-wrapper .task-top .label-wrapper .label-text.app {
  background-color: rgba(133, 146, 163, 0.16);
  color: #8592a3;
}

.task-wrapper .task-top .label-wrapper .label-text.charts {
  background-color: rgba(105, 108, 255, 0.16);
  color: #696cff;
}

.task-wrapper .task-top .more-icon-wrapper {
  background-color: transparent;
  border: none;
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.task-wrapper .task-top .more-icon-wrapper:hover {
  background-color: rgba(34, 48, 62, 0.08);
}

.task-wrapper .task-top .more-icon-wrapper .more-icon {
  width: 20px;
  height: 20px;
  color: rgba(34, 48, 62, 0.9);
  opacity: 0;
}

.task-wrapper .title {
  font-size: 15px;
  line-height: 1.5;
  font-weight: 500;
}

.task-wrapper .img-wrapper .img {
  width: 100%;
  border-radius: 6px;
}

.task-wrapper .other-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-wrapper .other-details .details-left {
  display: flex;
  align-items: center;
  gap: 16px;
}

.task-wrapper .other-details .details-left .attachment {
  display: flex;
  align-items: center;
  gap: 4px;
}

.task-wrapper .other-details .details-left .chat {
  display: flex;
  align-items: center;
  gap: 4px;
}

.task-wrapper .other-details .details-right .avatar-wrapper .avatar {
  width: 26px;
  height: 26px;
  cursor: pointer;
}

.task-wrapper .other-details .details-right .avatar-wrapper .avatar:hover {
  transition: 1s;
  position: relative;
  top: -10px;
}
