.crm .container {
  width: calc(100% - 140px);
  float: right;
  background-color: #f5f5f9;
  padding-left: 24px;
  padding-right: 24px;
}

.crm .container .crm-boxes .row1 {
  display: flex;
  margin-bottom: 24px;
}

.crm .container .crm-boxes .row1 .box1 {
  flex: 1;
  margin-right: 24px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 0.1875rem 0.5rem 0 rgba(34, 48, 62, 0.1);
}

.crm .container .crm-boxes .row1 .box1 .card-header {
  padding: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.crm .container .crm-boxes .row1 .box1 .card-header h5 {
  font-size: 18px;
  color: #384551;
  margin-right: 8px;
}

.crm .container .crm-boxes .row1 .box1 .card-header .action button {
  border: none;
  background-color: #fff;
  color: #a7acb2;
  cursor: pointer;
}

.crm .container .crm-boxes .row1 .box1 .card-desc {
  padding: 0 24px;
}

.crm .container .crm-boxes .row1 .box1 .card-desc .score {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.crm .container .crm-boxes .row1 .box1 .card-desc .score h2 {
  margin-right: 8px;
  line-height: 35px;
  font-size: 38px;
}

.crm .container .crm-boxes .row1 .box1 .card-desc .score .ratings {
  margin-bottom: 4px;
}

.crm .container .crm-boxes .row1 .box1 .card-desc .score .ratings .css-i4bv87-MuiSvgIcon-root {
  fill: #ffab00;
}

.crm .container .crm-boxes .row1 .box1 .card-desc .score .ratings .css-i4bv87-MuiSvgIcon-root:nth-child(5) {
  fill: #bdc1c5;
}

.crm .container .crm-boxes .row1 .box1 .card-desc .points {
  display: flex;
  align-items: center;
}

.crm .container .crm-boxes .row1 .box1 .card-desc .points .point-number {
  margin-right: 8px;
  background-color: #e7e7ff;
  color: #696cff;
  padding: 5.5px 10px;
  font-size: 13px;
  border-radius: 4px;
}

.crm .container .crm-boxes .row1 .box1 .card-desc .points .point-desc {
  height: 20px;
  line-height: 20px;
  font-size: 15px;
  color: #858d95;
}

.crm .container .crm-boxes .row1 .box1 .customerRatingsChart {
  height: 227px;
}

.crm .container .crm-boxes .row1 .box1 .customerRatingsChart .recharts-cartesian-grid,
.crm .container .crm-boxes .row1 .box1 .customerRatingsChart .recharts-cartesian-axis-line,
.crm .container .crm-boxes .row1 .box1 .customerRatingsChart .recharts-cartesian-axis-tick-line {
  display: none;
}

.crm .container .crm-boxes .row1 .box1 .customerRatingsChart .recharts-curve.recharts-line-curve {
  stroke-width: 3;
}

.crm .container .crm-boxes .row1 .box2 {
  flex: 1;
  margin-right: 24px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 0.1875rem 0.5rem 0 rgba(34, 48, 62, 0.1);
}

.crm .container .crm-boxes .row1 .box2 .card-header {
  padding: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.crm .container .crm-boxes .row1 .box2 .card-header .card-title h5 {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 28px;
}

.crm .container .crm-boxes .row1 .box2 .card-header .card-title p {
  color: #858d95;
  font-size: 15px;
}

.crm .container .crm-boxes .row1 .box2 .card-header .card-dropdown button {
  border: none;
  background-color: #fff;
  color: #a7acb2;
  cursor: pointer;
}

.crm .container .crm-boxes .row1 .box2 .card-body {
  height: 275px;
}

.crm .container .crm-boxes .row1 .box2 .card-body .recharts-cartesian-axis-tick-line,
.crm .container .crm-boxes .row1 .box2 .card-body .recharts-cartesian-axis-line {
  display: none;
}

.crm .container .crm-boxes .row1 .box3 {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.crm .container .crm-boxes .row1 .box3 .topBoxes {
  display: flex;
  gap: 24px;
  flex: 1;
}

.crm .container .crm-boxes .row1 .box3 .topBoxes .box31 {
  flex: 1;
  box-shadow: 0 0.1875rem 0.5rem 0 rgba(34, 48, 62, 0.1);
  border-radius: 8px;
  background-color: #fff;
}

.crm .container .crm-boxes .row1 .box3 .topBoxes .box31 .card-header {
  padding: 24px 24px 16px;
}

.crm .container .crm-boxes .row1 .box3 .topBoxes .box31 .card-header span {
  margin-bottom: 4px;
  color: #646e78;
  font-size: 15px;
}

.crm .container .crm-boxes .row1 .box3 .topBoxes .box31 .card-header h4 {
  font-size: 24px;
}

.crm .container .crm-boxes .row1 .box3 .topBoxes .box31 .card-chart {
  height: 80px;
}

.crm .container .crm-boxes .row1 .box3 .topBoxes .box32 {
  flex: 1;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 0.1875rem 0.5rem 0 rgba(34, 48, 62, 0.1);
}

.crm .container .crm-boxes .row1 .box3 .topBoxes .box32 .card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 24px 0px;
}

.crm .container .crm-boxes .row1 .box3 .topBoxes .box32 .card-header .card-dropdown button {
  border: none;
  background-color: #fff;
  color: #a7acb2;
  cursor: pointer;
}

.crm .container .crm-boxes .row1 .box3 .topBoxes .box32 .card-body {
  padding: 0 24px 24px;
}

.crm .container .crm-boxes .row1 .box3 .topBoxes .box32 .card-body p {
  margin-bottom: 4px;
  color: #646e78;
  font-size: 15px;
}

.crm .container .crm-boxes .row1 .box3 .topBoxes .box32 .card-body h4 {
  margin-bottom: 12px;
  font-size: 24px;
}

.crm .container .crm-boxes .row1 .box3 .topBoxes .box32 .card-body .bottom {
  color: red;
  display: flex;
  align-items: center;
  font-size: 13px;
}

.crm .container .crm-boxes .row1 .box3 .box33 {
  border-radius: 8px;
  background-color: #fff;
  flex: 1;
  box-shadow: 0 0.1875rem 0.5rem 0 rgba(34, 48, 62, 0.1);
}

.crm .container .crm-boxes .row1 .box3 .box33 .box33-content {
  padding: 24px;
  display: flex;
  justify-content: space-between;
}

.crm .container .crm-boxes .row1 .box3 .box33 .box33-content .card-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.crm .container .crm-boxes .row1 .box3 .box33 .box33-content .card-left .card-title {
  margin-bottom: 15px;
}

.crm .container .crm-boxes .row1 .box3 .box33 .box33-content .card-left .card-title h5 {
  font-size: 18px;
}

.crm .container .crm-boxes .row1 .box3 .box33 .box33-content .card-left .card-title p {
  font-size: 15px;
  color: #646e78;
}

.crm .container .crm-boxes .row1 .box3 .box33 .box33-content .card-left .card-data h4 {
  font-size: 24px;
  color: #384551;
}

.crm .container .crm-boxes .row1 .box3 .box33 .box33-content .card-left .card-data p {
  color: #71dd37;
  display: flex;
  align-items: center;
}

.crm .container .crm-boxes .row1 .box3 .box33 .box33-content .card-right {
  width: 200px;
  height: 150px;
}

.crm .container .crm-boxes .row2 {
  display: flex;
  margin-bottom: 24px;
}

.crm .container .crm-boxes .row2 .box4 {
  flex: 2;
}

.crm .container .crm-boxes .row2 .box4 .box4-content {
  display: flex;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 0.1875rem 0.5rem 0 rgba(34, 48, 62, 0.1);
  margin-right: 8px;
}

.crm .container .crm-boxes .row2 .box4 .box4-content .box4-left,
.crm .container .crm-boxes .row2 .box4 .box4-content .box4-right {
  width: calc(50%);
  border-right: 1px solid lightgrey;
}

.crm .container .crm-boxes .row2 .box4 .box4-content .box4-left .card-header,
.crm .container .crm-boxes .row2 .box4 .box4-content .box4-right .card-header {
  padding: 24px;
  display: flex;
  justify-content: space-between;
}

.crm .container .crm-boxes .row2 .box4 .box4-content .box4-left .card-header h5,
.crm .container .crm-boxes .row2 .box4 .box4-content .box4-right .card-header h5 {
  margin-right: 5px;
  font-size: 18px;
}

.crm .container .crm-boxes .row2 .box4 .box4-content .box4-left .card-header h5 .sales,
.crm .container .crm-boxes .row2 .box4 .box4-content .box4-right .card-header h5 .sales {
  color: #696cff;
}

.crm .container .crm-boxes .row2 .box4 .box4-content .box4-left .card-header .card-dropdown button,
.crm .container .crm-boxes .row2 .box4 .box4-content .box4-right .card-header .card-dropdown button {
  border: none;
  background-color: #fff;
  color: #a7acb2;
  cursor: pointer;
}

.crm .container .crm-boxes .row2 .box4 .box4-content .box4-left .card-body,
.crm .container .crm-boxes .row2 .box4 .box4-content .box4-right .card-body {
  padding: 24px;
}

.crm .container .crm-boxes .row2 .box4 .box4-content .box4-left .card-body ul,
.crm .container .crm-boxes .row2 .box4 .box4-content .box4-right .card-body ul {
  list-style: none;
}

.crm .container .crm-boxes .row2 .box4 .box4-content .box4-left .card-body ul .sales-item,
.crm .container .crm-boxes .row2 .box4 .box4-content .box4-right .card-body ul .sales-item {
  margin-bottom: 28px;
  display: flex;
  align-items: center;
}

.crm .container .crm-boxes .row2 .box4 .box4-content .box4-left .card-body ul .sales-item .avatar,
.crm .container .crm-boxes .row2 .box4 .box4-content .box4-right .card-body ul .sales-item .avatar {
  height: 38px;
  width: 38px;
  margin-right: 12px;
  flex-shrink: 0;
}

.crm .container .crm-boxes .row2 .box4 .box4-content .box4-left .card-body ul .sales-item .avatar img,
.crm .container .crm-boxes .row2 .box4 .box4-content .box4-right .card-body ul .sales-item .avatar img {
  width: 100%;
  height: 100%;
}

.crm .container .crm-boxes .row2 .box4 .box4-content .box4-left .card-body ul .sales-item .sales-desc,
.crm .container .crm-boxes .row2 .box4 .box4-content .box4-right .card-body ul .sales-item .sales-desc {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.crm .container .crm-boxes .row2 .box4 .box4-content .box4-left .card-body ul .sales-item .sales-desc .sales-desc-left h6,
.crm .container .crm-boxes .row2 .box4 .box4-content .box4-right .card-body ul .sales-item .sales-desc .sales-desc-left h6 {
  font-size: 15px;
}

.crm .container .crm-boxes .row2 .box4 .box4-content .box4-left .card-body ul .sales-item .sales-desc .sales-desc-left small,
.crm .container .crm-boxes .row2 .box4 .box4-content .box4-right .card-body ul .sales-item .sales-desc .sales-desc-left small {
  font-size: 13px;
  color: #646e78;
}

.crm .container .crm-boxes .row2 .box4 .box4-content .box4-left .card-body ul .sales-item .sales-desc .sales-desc-right,
.crm .container .crm-boxes .row2 .box4 .box4-content .box4-right .card-body ul .sales-item .sales-desc .sales-desc-right {
  font-size: 15px;
  color: #646e78;
  display: flex;
  align-items: center;
}

.crm .container .crm-boxes .row2 .box4 .box4-content .box4-left .card-body ul .sales-item .sales-desc .sales-desc-right .num,
.crm .container .crm-boxes .row2 .box4 .box4-content .box4-right .card-body ul .sales-item .sales-desc .sales-desc-right .num {
  margin-left: 12px;
  padding: 5.5px 10px;
  border-radius: 4px;
}

.crm .container .crm-boxes .row2 .box4 .box4-content .box4-left .card-body ul .sales-item .sales-desc .sales-desc-right .up,
.crm .container .crm-boxes .row2 .box4 .box4-content .box4-right .card-body ul .sales-item .sales-desc .sales-desc-right .up {
  background-color: #e8fadf;
  color: #71dd37;
}

.crm .container .crm-boxes .row2 .box4 .box4-content .box4-left .card-body ul .sales-item .sales-desc .sales-desc-right .down,
.crm .container .crm-boxes .row2 .box4 .box4-content .box4-right .card-body ul .sales-item .sales-desc .sales-desc-right .down {
  background-color: #ffe0db;
  color: #ff3e1d;
}

.crm .container .crm-boxes .row2 .box4 .box4-content .box4-right {
  border-right: none;
}

.crm .container .crm-boxes .row2 .box5 {
  flex: 1;
}

.crm .container .crm-boxes .row2 .box5 .box5-content {
  margin-left: 16px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 0.1875rem 0.5rem 0 rgba(34, 48, 62, 0.1);
}

.crm .container .crm-boxes .row2 .box5 .box5-content .card-header {
  padding: 24px;
  display: flex;
  justify-content: space-between;
}

.crm .container .crm-boxes .row2 .box5 .box5-content .card-header h5 {
  margin-right: 5px;
  font-size: 18px;
}

.crm .container .crm-boxes .row2 .box5 .box5-content .card-header span {
  color: #646e78;
  font-size: 15px;
}

.crm .container .crm-boxes .row2 .box5 .box5-content .card-header .card-dropdown button {
  border: none;
  background-color: #fff;
  color: #a7acb2;
  cursor: pointer;
}

.crm .container .crm-boxes .row2 .box5 .box5-content .card-body {
  padding: 24px;
}

.crm .container .crm-boxes .row2 .box5 .box5-content .card-body ul {
  list-style: none;
}

.crm .container .crm-boxes .row2 .box5 .box5-content .card-body ul .earning-item {
  margin-bottom: 28px;
  display: flex;
  align-items: center;
}

.crm .container .crm-boxes .row2 .box5 .box5-content .card-body ul .earning-item .avatar {
  height: 38px;
  width: 38px;
  margin-right: 12px;
  flex-shrink: 0;
}

.crm .container .crm-boxes .row2 .box5 .box5-content .card-body ul .earning-item .avatar img {
  width: 100%;
  height: 100%;
}

.crm .container .crm-boxes .row2 .box5 .box5-content .card-body ul .earning-item .earning-desc {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.crm .container .crm-boxes .row2 .box5 .box5-content .card-body ul .earning-item .earning-desc .earning-desc-left h6 {
  font-size: 15px;
}

.crm .container .crm-boxes .row2 .box5 .box5-content .card-body ul .earning-item .earning-desc .earning-desc-left small {
  font-size: 13px;
  color: #646e78;
}

.crm .container .crm-boxes .row2 .box5 .box5-content .card-body ul .earning-item .earning-desc .earning-desc-right {
  font-size: 15px;
  color: #646e78;
  display: flex;
  align-items: center;
}

.crm .container .crm-boxes .row2 .box5 .box5-content .card-body ul .earning-item .earning-desc .earning-desc-right .num {
  padding: 5.5px 10px;
  border-radius: 4px;
  display: flex;
  align-items: center;
}

.crm .container .crm-boxes .row2 .box5 .box5-content .card-body ul .earning-item .earning-desc .earning-desc-right .up {
  color: #71dd37;
  width: 20px;
  height: 20px;
}

.crm .container .crm-boxes .row2 .box5 .box5-content .card-body .chart {
  height: 124px;
}

.crm .container .crm-boxes .row2 .box5 .box5-content .card-body .chart .recharts-cartesian-axis-line {
  display: none;
}

.crm .container .crm-boxes .row2 .box5 .box5-content .card-body .chart .recharts-cartesian-axis-tick-line {
  display: none;
}

.crm .container .crm-boxes .row3 {
  display: flex;
  margin-bottom: 24px;
}

.crm .container .crm-boxes .row3 .box6 {
  flex: 1;
}

.crm .container .crm-boxes .row3 .box6 .box6-content {
  margin-right: 12px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 0.1875rem 0.5rem 0 rgba(34, 48, 62, 0.1);
}

.crm .container .crm-boxes .row3 .box6 .box6-content .card-header {
  padding: 24px;
  display: flex;
  justify-content: space-between;
}

.crm .container .crm-boxes .row3 .box6 .box6-content .card-header .card-header-left h5 {
  margin-right: 8px;
  margin-bottom: 8px;
  font-size: 18px;
}

.crm .container .crm-boxes .row3 .box6 .box6-content .card-header .card-header-left .num {
  background-color: #e8fadf;
  color: #71dd37;
  margin-right: 4px;
  padding: 5.5px 10px;
  font-size: 13px;
  border-radius: 4px;
}

.crm .container .crm-boxes .row3 .box6 .box6-content .card-header .card-header-left .last-year {
  font-size: 15px;
}

.crm .container .crm-boxes .row3 .box6 .box6-content .card-header .btn-group {
  display: inline-flex;
  height: 50%;
}

.crm .container .crm-boxes .row3 .box6 .box6-content .card-header .btn-group .btn-one {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  color: #696cff;
  border-color: transparent;
  background: #e7e7ff;
  padding: 5px 12px;
  border-radius: 4px 0 0 4px;
  border-right: 0.5px solid #cfd0ff;
  cursor: pointer;
}

.crm .container .crm-boxes .row3 .box6 .box6-content .card-header .btn-group .btn-one:hover {
  background: #5f61e6;
  color: #fff;
  box-shadow: 0 0.125rem 0.25rem 0 rgba(105, 108, 255, 0.4);
}

.crm .container .crm-boxes .row3 .box6 .box6-content .card-header .btn-group .btn-two {
  border-radius: 4px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-color: transparent;
  color: #696cff;
  background: #e7e7ff;
  cursor: pointer;
}

.crm .container .crm-boxes .row3 .box6 .box6-content .card-header .btn-group .btn-two .icon {
  height: 100%;
}

.crm .container .crm-boxes .row3 .box6 .box6-content .card-header .btn-group .btn-two:hover {
  background: #5f61e6;
  color: #fff;
  box-shadow: 0 0.125rem 0.25rem 0 rgba(105, 108, 255, 0.4);
}

.crm .container .crm-boxes .row3 .box6 .box6-content .card-body .chart {
  height: 425px;
  padding-top: 55px;
}

.crm .container .crm-boxes .row3 .box7 {
  flex: 1;
}

.crm .container .crm-boxes .row3 .box7 .box7-content {
  margin-left: 10px;
  margin-right: 8px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 0.1875rem 0.5rem 0 rgba(34, 48, 62, 0.1);
}

.crm .container .crm-boxes .row3 .box7 .box7-content .card-header {
  padding: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.crm .container .crm-boxes .row3 .box7 .box7-content .card-header .card-header-left h5 {
  margin-right: 8px;
  margin-bottom: 8px;
  font-size: 18px;
}

.crm .container .crm-boxes .row3 .box7 .box7-content .card-header .card-header-left span {
  color: #858d95;
  font-size: 15px;
}

.crm .container .crm-boxes .row3 .box7 .box7-content .card-header .card-dropdown button {
  border: none;
  background-color: #fff;
  color: #a7acb2;
  cursor: pointer;
}

.crm .container .crm-boxes .row3 .box7 .box7-content .card-body {
  padding: 24px;
}

.crm .container .crm-boxes .row3 .box7 .box7-content .card-body ul {
  list-style: none;
}

.crm .container .crm-boxes .row3 .box7 .box7-content .card-body ul .country-item {
  margin-bottom: 28px;
  display: flex;
  align-items: center;
}

.crm .container .crm-boxes .row3 .box7 .box7-content .card-body ul .country-item .avatar {
  height: 38px;
  width: 38px;
  margin-right: 12px;
  flex-shrink: 0;
  border-radius: 50%;
  overflow: hidden;
}

.crm .container .crm-boxes .row3 .box7 .box7-content .card-body ul .country-item .avatar img {
  width: 100%;
  height: 100%;
}

.crm .container .crm-boxes .row3 .box7 .box7-content .card-body ul .country-item .country-desc {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.crm .container .crm-boxes .row3 .box7 .box7-content .card-body ul .country-item .country-desc .country-desc-left h6 {
  font-size: 15px;
  display: flex;
  align-items: center;
}

.crm .container .crm-boxes .row3 .box7 .box7-content .card-body ul .country-item .country-desc .country-desc-left h6 .dollar {
  color: #384551;
  margin-right: 8px;
}

.crm .container .crm-boxes .row3 .box7 .box7-content .card-body ul .country-item .country-desc .country-desc-left h6 .num.up,
.crm .container .crm-boxes .row3 .box7 .box7-content .card-body ul .country-item .country-desc .country-desc-left h6 .num.down {
  display: flex;
  align-items: center;
  color: #71dd37;
  font-size: 13px;
}

.crm .container .crm-boxes .row3 .box7 .box7-content .card-body ul .country-item .country-desc .country-desc-left h6 .num.up .icon,
.crm .container .crm-boxes .row3 .box7 .box7-content .card-body ul .country-item .country-desc .country-desc-left h6 .num.down .icon {
  width: 22px;
  height: 22px;
}

.crm .container .crm-boxes .row3 .box7 .box7-content .card-body ul .country-item .country-desc .country-desc-left h6 .num.down {
  color: #ff3e1d;
}

.crm .container .crm-boxes .row3 .box7 .box7-content .card-body ul .country-item .country-desc .country-desc-left small {
  font-size: 13px;
  color: #646e78;
}

.crm .container .crm-boxes .row3 .box8 {
  flex: 1;
}

.crm .container .crm-boxes .row3 .box8 .box8-content {
  margin-left: 16px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 0.1875rem 0.5rem 0 rgba(34, 48, 62, 0.1);
}

.crm .container .crm-boxes .row3 .box8 .box8-content .card-header {
  padding: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.crm .container .crm-boxes .row3 .box8 .box8-content .card-header .card-header-left h5 {
  margin-right: 8px;
  margin-bottom: 8px;
  font-size: 18px;
}

.crm .container .crm-boxes .row3 .box8 .box8-content .card-header .card-dropdown button {
  border: none;
  background-color: #fff;
  color: #a7acb2;
  cursor: pointer;
}

.crm .container .crm-boxes .row3 .box8 .box8-content .circularBar {
  height: 320px;
  padding: 56px 0;
}

.crm .container .crm-boxes .row3 .box8 .box8-content .circularBar .CircularProgressbar {
  height: 100%;
}

.crm .container .crm-boxes .row3 .box8 .box8-content .circularBar .CircularProgressbar .CircularProgressbar-path {
  stroke: rgba(113, 221, 55, 0.85);
}

.crm .container .crm-boxes .row3 .box8 .box8-content .circularBar .CircularProgressbar .CircularProgressbar-text {
  stroke: #646e78;
  fill: #646e78;
  font-size: 8px;
}

.crm .container .crm-boxes .row3 .box8 .box8-content .card-body {
  padding: 24px;
  display: flex;
  justify-content: center;
}

.crm .container .crm-boxes .row3 .box8 .box8-content .card-body .card-body-left {
  display: flex;
  align-items: center;
  margin-right: 16px;
  color: #646e78;
}

.crm .container .crm-boxes .row3 .box8 .box8-content .card-body .card-body-left .dot {
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: rgba(113, 221, 55, 0.85);
  border-radius: 50%;
  margin-right: 8px;
}

.crm .container .crm-boxes .row3 .box8 .box8-content .card-body .card-body-right {
  display: flex;
  align-items: center;
  color: #646e78;
}

.crm .container .crm-boxes .row3 .box8 .box8-content .card-body .card-body-right .dot {
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: #EBEEF0;
  border-radius: 50%;
  margin-right: 8px;
}

.crm .container .crm-boxes .row4 {
  display: flex;
  margin-bottom: 24px;
}

.crm .container .crm-boxes .row4 .box9 {
  flex: 40%;
  padding-right: 12px;
}

.crm .container .crm-boxes .row4 .box9 .box9-content {
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 0.1875rem 0.5rem 0 rgba(34, 48, 62, 0.1);
  overflow: hidden;
}

.crm .container .crm-boxes .row4 .box9 .box9-content .card-header {
  padding: 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.crm .container .crm-boxes .row4 .box9 .box9-content .card-header .card-header-left h5 {
  margin-right: 8px;
  margin-bottom: 8px;
  font-size: 18px;
}

.crm .container .crm-boxes .row4 .box9 .box9-content .card-header .card-dropdown button {
  border: none;
  background-color: #fff;
  color: #a7acb2;
  cursor: pointer;
}

.crm .container .crm-boxes .row4 .box9 .box9-content .card-body .MuiTableContainer-root {
  box-shadow: none;
}

.crm .container .crm-boxes .row4 .box9 .box9-content .card-body .MuiTable-root {
  border: none;
}

.crm .container .crm-boxes .row4 .box9 .box9-content .card-body .MuiTableCell-root {
  border: none;
}

.crm .container .crm-boxes .row4 .box9 .box9-content .card-body .CircularProgressbar {
  height: 40px;
  width: 40px;
}

.crm .container .crm-boxes .row4 .box9 .box9-content .card-body .CircularProgressbar.purple .CircularProgressbar-path {
  stroke: purple;
}

.crm .container .crm-boxes .row4 .box9 .box9-content .card-body .CircularProgressbar.red .CircularProgressbar-path {
  stroke: red;
}

.crm .container .crm-boxes .row4 .box9 .box9-content .card-body .CircularProgressbar.orange .CircularProgressbar-path {
  stroke: orange;
}

.crm .container .crm-boxes .row4 .box9 .box9-content .card-body .CircularProgressbar.lightblue .CircularProgressbar-path {
  stroke: lightblue;
}

.crm .container .crm-boxes .row4 .box9 .box9-content .card-body .project-name {
  display: inline-block;
  padding: 5.5px 10px;
  border-radius: 4px;
  font-size: 13px;
}

.crm .container .crm-boxes .row4 .box9 .box9-content .card-body .project-name.purple {
  color: purple;
  background-color: rgba(128, 0, 128, 0.2);
}

.crm .container .crm-boxes .row4 .box9 .box9-content .card-body .project-name.red {
  color: red;
  background-color: rgba(255, 0, 0, 0.2);
}

.crm .container .crm-boxes .row4 .box9 .box9-content .card-body .project-name.orange {
  color: orange;
  background-color: rgba(255, 165, 0, 0.2);
}

.crm .container .crm-boxes .row4 .box9 .box9-content .card-body .project-name.lightblue {
  color: lightblue;
  background-color: rgba(173, 216, 230, 0.2);
}

.crm .container .crm-boxes .row4 .box9 .box9-content .card-body .name-wrapper {
  display: flex;
}

.crm .container .crm-boxes .row4 .box9 .box9-content .card-body .name-wrapper .avatar {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 12px;
}

.crm .container .crm-boxes .row4 .box9 .box9-content .card-body .name-wrapper .avatar img {
  width: 100%;
  height: 100%;
}

.crm .container .crm-boxes .row4 .box9 .box9-content .card-body .name-wrapper .name-details .name-team {
  font-size: 15px;
  color: #384551;
}

.crm .container .crm-boxes .row4 .box9 .box9-content .card-body .name-wrapper .name-details .name-title {
  font-size: 13px;
  color: #646e78;
}

.crm .container .crm-boxes .row4 .box10 {
  flex: 60%;
  padding-left: 12px;
}

.crm .container .crm-boxes .row4 .box10 .box10-content {
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 0.1875rem 0.5rem 0 rgba(34, 48, 62, 0.1);
}

.crm .container .crm-boxes .row4 .box10 .box10-content .chart .MuiTableContainer-root {
  border-radius: 12px;
}

.crm .container .crm-boxes .row4 .box10 .box10-content .chart .MuiTable-root, .crm .container .crm-boxes .row4 .box10 .box10-content .chart .css-11xur9t-MuiPaper-root-MuiTableContainer-root {
  box-shadow: none !important;
}

.crm .container .crm-boxes .row4 .box10 .box10-content .chart .customer-wrapper {
  display: flex;
}

.crm .container .crm-boxes .row4 .box10 .box10-content .chart .customer-wrapper .customer-avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 8px;
}

.crm .container .crm-boxes .row4 .box10 .box10-content .chart .customer-wrapper .customer-avatar img {
  width: 100%;
  height: 100%;
}

.crm .container .crm-boxes .row4 .box10 .box10-content .chart .customer-wrapper .customer-details .customer-team {
  font-size: 15px;
  color: #384551;
}

.crm .container .crm-boxes .row4 .box10 .box10-content .chart .customer-wrapper .customer-details .customer-email {
  font-size: 13px;
  color: #646e78;
}

.crm .container .crm-boxes .row4 .box10 .box10-content .chart .status {
  padding: 5.5px 10px;
  display: inline-block;
  border-radius: 4px;
}

.crm .container .crm-boxes .row4 .box10 .box10-content .chart .status.Paid {
  background-color: #e8fadf;
  color: #71dd37;
}

.crm .container .crm-boxes .row4 .box10 .box10-content .chart .status.Failed {
  background-color: #ffe0db;
  color: #ff3e1d;
}

.crm .container .crm-boxes .row4 .box10 .box10-content .chart .status.Pending {
  background-color: #fff2d6;
  color: #ffab00;
}

.crm .container .crm-boxes .row4 .box10 .box10-content .chart .action button {
  border: none;
  background-color: #fff;
  color: #a7acb2;
  cursor: pointer;
}
