.ecommerce .container {
  width: calc(100% - 140px);
  float: right;
  background-color: #f5f5f9;
  padding-left: 24px;
  padding-right: 24px;
}

.ecommerce .container .row1 {
  display: flex;
  margin: 24px 0;
  height: 180px;
}

.ecommerce .container .row1 .box1-wrapper {
  flex: 1;
}

.ecommerce .container .row1 .box1-wrapper .box1 {
  background-color: white;
  border-radius: 8px;
  box-sizing: border-box !important;
  padding: 20px 24px;
  position: relative;
}

.ecommerce .container .row1 .box1-wrapper .box1 .cong {
  font-size: 1rem;
  line-height: 1.5;
  color: rgba(50, 71, 92, 0.87);
  font-weight: 500;
  margin: 0px 0px 0.3125rem;
}

.ecommerce .container .row1 .box1-wrapper .box1 .best {
  margin: 0px 0px 1.125rem;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.43;
  color: rgba(50, 71, 92, 0.6);
}

.ecommerce .container .row1 .box1-wrapper .box1 h5 {
  margin: 0px;
  font-weight: 500;
  line-height: 1.334;
  color: #696cff;
  font-size: 1.625rem !important;
}

.ecommerce .container .row1 .box1-wrapper .box1 .target {
  margin: 0px 0px 0.625rem;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.43;
  color: rgba(50, 71, 92, 0.38);
}

.ecommerce .container .row1 .box1-wrapper .box1 button {
  color: white;
  background-color: #696cff;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.3px;
  box-shadow: rgba(50, 71, 92, 0.42) 0px 4px 8px -4px;
  border-radius: 4px;
  padding: 0.25rem 0.875rem;
  border: none;
  text-transform: uppercase;
}

.ecommerce .container .row1 .box1-wrapper .box1 button:hover {
  cursor: pointer;
}

.ecommerce .container .row1 .box1-wrapper .box1 img {
  position: absolute;
  bottom: -2px;
  right: 36px;
  height: 155px;
}

.ecommerce .container .row1 .box2-wrapper {
  flex: 2;
}

.ecommerce .container .row1 .box2-wrapper .box2 {
  display: flex;
  background-color: white;
  border-radius: 8px;
  padding: 1rem 1.25rem;
  margin-left: 24px;
}

.ecommerce .container .row1 .box2-wrapper .box2 .box21 {
  flex: 1;
  padding-right: 1.25rem;
  border-right: 1px solid rgba(50, 71, 92, 0.12);
}

.ecommerce .container .row1 .box2-wrapper .box2 .box21 .top {
  display: flex;
  justify-content: space-between;
}

.ecommerce .container .row1 .box2-wrapper .box2 .box21 .top h6 {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.6;
  color: rgba(50, 71, 92, 0.87);
}

.ecommerce .container .row1 .box2-wrapper .box2 .box21 .top p {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.43;
  color: rgba(50, 71, 92, 0.6);
}

.ecommerce .container .row1 .box2-wrapper .box2 .box21 .bottom {
  display: flex;
  justify-content: space-between;
}

.ecommerce .container .row1 .box2-wrapper .box2 .box21 .bottom .data {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.ecommerce .container .row1 .box2-wrapper .box2 .box21 .bottom .data .percent1 {
  font-size: 2.0243rem;
  margin: 0px 0px 0.5rem;
  font-weight: 500;
  line-height: 1.235;
  color: rgba(50, 71, 92, 0.87);
}

.ecommerce .container .row1 .box2-wrapper .box2 .box21 .bottom .data .percent2 {
  color: #ff3e1d;
  display: flex;
}

.ecommerce .container .row1 .box2-wrapper .box2 .box21 .bottom .data .percent2 .icon {
  height: 18px;
  width: 18px;
  margin-right: 0.25rem;
}

.ecommerce .container .row1 .box2-wrapper .box2 .box21 .bottom .data .percent2 p {
  font-size: 0.875rem;
  line-height: 1.43;
  font-weight: 500;
}

.ecommerce .container .row1 .box2-wrapper .box2 .box21 .bottom .chart {
  height: 140px;
  width: 190px;
  font-size: 14px;
}

.ecommerce .container .row1 .box2-wrapper .box2 .box21 .bottom .chart .recharts-cartesian-axis-tick-line {
  display: none;
}

.ecommerce .container .row1 .box2-wrapper .box2 .box21 .bottom .chart .recharts-cartesian-axis-line {
  display: none;
}

.ecommerce .container .row1 .box2-wrapper .box2 .box21 .bottom .chart .recharts-surface {
  padding-top: 10px;
}

.ecommerce .container .row1 .box2-wrapper .box2 .box22 {
  flex: 1;
  padding-left: 1.25rem;
}

.ecommerce .container .row1 .box2-wrapper .box2 .box22 .top {
  display: flex;
  justify-content: space-between;
}

.ecommerce .container .row1 .box2-wrapper .box2 .box22 .top h6 {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.6;
  color: rgba(50, 71, 92, 0.87);
}

.ecommerce .container .row1 .box2-wrapper .box2 .box22 .top p {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.43;
  color: rgba(50, 71, 92, 0.6);
}

.ecommerce .container .row1 .box2-wrapper .box2 .box22 .bottom {
  display: flex;
  justify-content: space-between;
}

.ecommerce .container .row1 .box2-wrapper .box2 .box22 .bottom .data {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.ecommerce .container .row1 .box2-wrapper .box2 .box22 .bottom .data .percent1 {
  font-size: 2.0243rem;
  margin: 0px 0px 0.5rem;
  font-weight: 500;
  line-height: 1.235;
  color: rgba(50, 71, 92, 0.87);
}

.ecommerce .container .row1 .box2-wrapper .box2 .box22 .bottom .data .percent2 {
  color: #71dd37;
  display: flex;
}

.ecommerce .container .row1 .box2-wrapper .box2 .box22 .bottom .data .percent2 .icon {
  height: 18px;
  width: 18px;
  margin-right: 0.25rem;
}

.ecommerce .container .row1 .box2-wrapper .box2 .box22 .bottom .data .percent2 p {
  font-size: 0.875rem;
  line-height: 1.43;
  font-weight: 500;
}

.ecommerce .container .row1 .box2-wrapper .box2 .box22 .bottom .chart {
  height: 140px;
  width: 190px;
  font-size: 14px;
}

.ecommerce .container .row1 .box2-wrapper .box2 .box22 .bottom .chart .recharts-cartesian-axis-tick-line {
  display: none;
}

.ecommerce .container .row1 .box2-wrapper .box2 .box22 .bottom .chart .recharts-cartesian-axis-line {
  display: none;
}

.ecommerce .container .row1 .box2-wrapper .box2 .box22 .bottom .chart .recharts-surface {
  padding-top: 10px;
}

.ecommerce .container .row2 {
  display: flex;
  padding-top: 24px;
}

.ecommerce .container .row2 .box3-wrapper {
  flex: 1;
}

.ecommerce .container .row2 .box3-wrapper .box3 .box3Top {
  display: flex;
}

.ecommerce .container .row2 .box3-wrapper .box3 .box3Top .box31 {
  background-color: white;
  flex: 1;
  border-radius: 8px;
}

.ecommerce .container .row2 .box3-wrapper .box3 .box3Top .box31 .top {
  display: flex;
  height: 42px;
  margin-bottom: 16px;
  justify-content: space-between;
}

.ecommerce .container .row2 .box3-wrapper .box3 .box3Top .box31 .top img {
  width: 42px;
  height: 42px;
}

.ecommerce .container .row2 .box3-wrapper .box3 .box3Top .box31 .top button {
  background-color: white;
  border: none;
  width: 32px;
  height: 32px;
}

.ecommerce .container .row2 .box3-wrapper .box3 .box3Top .box31 .top button:hover {
  background-color: #f5f5f9;
  border-radius: 50%;
}

.ecommerce .container .row2 .box3-wrapper .box3 .box3Top .box31 .bottom .info {
  margin: 0px 0px 0.125rem;
  font-size: 1rem;
  line-height: 1.5;
  color: rgba(50, 71, 92, 0.6);
  font-weight: 600;
}

.ecommerce .container .row2 .box3-wrapper .box3 .box3Top .box31 .bottom h5 {
  line-height: 1.334;
  color: rgba(50, 71, 92, 0.87);
  margin: 0px 0px 0.5rem;
  font-weight: 500;
  font-size: 24px;
}

.ecommerce .container .row2 .box3-wrapper .box3 .box3Top .box31 .bottom div {
  display: flex;
  color: #71dd37;
}

.ecommerce .container .row2 .box3-wrapper .box3 .box3Top .box31 .bottom div p {
  font-size: 0.875rem;
  line-height: 1.43;
  color: #71dd37;
  font-weight: 500;
}

.ecommerce .container .row2 .box3-wrapper .box3 .box3Top .box32 {
  flex: 1;
  margin-left: 24px;
  background-color: white;
  border-radius: 8px;
}

.ecommerce .container .row2 .box3-wrapper .box3 .box3Top .box32 .top {
  padding: 0.875rem 1.25rem 0rem;
}

.ecommerce .container .row2 .box3-wrapper .box3 .box3Top .box32 .top p {
  font-size: 1rem;
  line-height: 1.5;
  color: rgba(50, 71, 92, 0.6);
  font-weight: 600;
}

.ecommerce .container .row2 .box3-wrapper .box3 .box3Top .box32 .top h5 {
  font-size: 24px;
  line-height: 1.334;
  color: rgba(50, 71, 92, 0.87);
  font-weight: 500;
}

.ecommerce .container .row2 .box3-wrapper .box3 .box3Top .box32 .chart {
  height: 110px;
  width: 100%;
}

.ecommerce .container .row2 .box3-wrapper .box3 .box3Top .box32 .chart .recharts-cartesian-axis-tick-line {
  display: none;
}

.ecommerce .container .row2 .box3-wrapper .box3 .box3Top .box32 .chart .recharts-cartesian-axis-line {
  display: none;
}

.ecommerce .container .row2 .box3-wrapper .box3 .box3Bottom {
  display: flex;
  margin-top: 24px;
}

.ecommerce .container .row2 .box3-wrapper .box3 .box3Bottom .box33 {
  padding: 0.875rem 1.25rem 0.75rem;
  background-color: white;
  border-radius: 8px;
}

.ecommerce .container .row2 .box3-wrapper .box3 .box3Bottom .box33 .expenses {
  font-size: 1rem;
  line-height: 1.5;
  color: rgba(50, 71, 92, 0.6);
  font-weight: 600;
}

.ecommerce .container .row2 .box3-wrapper .box3 .box3Bottom .box33 .chart {
  margin-top: 5px;
}

.ecommerce .container .row2 .box3-wrapper .box3 .box3Bottom .box33 .more {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.43;
  color: rgba(50, 71, 92, 0.38);
  text-align: center;
}

.ecommerce .container .row2 .box3-wrapper .box3 .box3Bottom .box33 .month {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.43;
  color: rgba(50, 71, 92, 0.38);
  text-align: center;
}

.ecommerce .container .row2 .box3-wrapper .box3 .box3Bottom .box34 {
  background-color: white;
  flex: 1;
  border-radius: 8px;
  margin-left: 24px;
}

.ecommerce .container .row2 .box3-wrapper .box3 .box3Bottom .box34 .top {
  display: flex;
  height: 42px;
  margin-bottom: 16px;
  justify-content: space-between;
}

.ecommerce .container .row2 .box3-wrapper .box3 .box3Bottom .box34 .top img {
  width: 42px;
  height: 42px;
}

.ecommerce .container .row2 .box3-wrapper .box3 .box3Bottom .box34 .top button {
  background-color: white;
  border: none;
  width: 32px;
  height: 32px;
}

.ecommerce .container .row2 .box3-wrapper .box3 .box3Bottom .box34 .top button:hover {
  background-color: #f5f5f9;
  border-radius: 50%;
}

.ecommerce .container .row2 .box3-wrapper .box3 .box3Bottom .box34 .bottom .info {
  margin: 0px 0px 0.125rem;
  font-size: 1rem;
  line-height: 1.5;
  color: rgba(50, 71, 92, 0.6);
  font-weight: 600;
}

.ecommerce .container .row2 .box3-wrapper .box3 .box3Bottom .box34 .bottom h5 {
  line-height: 1.334;
  color: rgba(50, 71, 92, 0.87);
  margin: 0px 0px 0.5rem;
  font-weight: 500;
  font-size: 24px;
}

.ecommerce .container .row2 .box3-wrapper .box3 .box3Bottom .box34 .bottom div {
  display: flex;
  color: #71dd37;
}

.ecommerce .container .row2 .box3-wrapper .box3 .box3Bottom .box34 .bottom div p {
  font-size: 0.875rem;
  line-height: 1.43;
  color: #71dd37;
  font-weight: 500;
}

.ecommerce .container .row2 .box4-wrapper {
  flex: 2;
}

.ecommerce .container .row2 .box4-wrapper .box4 {
  margin-left: 24px;
  border-radius: 8px;
  background-color: white;
  display: flex;
  height: 384px;
}

.ecommerce .container .row2 .box4-wrapper .box4 .box41 {
  flex: 2;
  height: 100%;
  border-right: 1px solid rgba(50, 71, 92, 0.12);
}

.ecommerce .container .row2 .box4-wrapper .box4 .box41 .top {
  padding: 1.25rem 1.25rem 0rem;
}

.ecommerce .container .row2 .box4-wrapper .box4 .box41 .top .income {
  line-height: 1.6;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.15px;
  color: rgba(50, 71, 92, 0.87);
}

.ecommerce .container .row2 .box4-wrapper .box4 .box41 .top .overview {
  font-size: 16px;
  margin-top: 0.3125rem;
  color: rgba(50, 71, 92, 0.6);
  font-weight: 400;
  line-height: 1.5;
  margin-top: 5px;
}

.ecommerce .container .row2 .box4-wrapper .box4 .box41 .chart {
  width: 100%;
  height: 315px;
}

.ecommerce .container .row2 .box4-wrapper .box4 .box41 .chart .recharts-cartesian-axis-tick-line,
.ecommerce .container .row2 .box4-wrapper .box4 .box41 .chart .recharts-cartesian-axis-line {
  display: none;
}

.ecommerce .container .row2 .box4-wrapper .box4 .box42 {
  flex: 1;
}

.ecommerce .container .row2 .box4-wrapper .box4 .box42 .top {
  padding: 16px 20px 20px;
  display: flex;
  justify-content: space-between;
}

.ecommerce .container .row2 .box4-wrapper .box4 .box42 .top .detail .title {
  line-height: 1.6;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.15px;
}

.ecommerce .container .row2 .box4-wrapper .box4 .box42 .top .detail .ave {
  margin-top: 0.3125rem;
  color: rgba(50, 71, 92, 0.6);
  font-size: 16px;
  line-height: 1.5;
}

.ecommerce .container .row2 .box4-wrapper .box4 .box42 .top .icon {
  color: rgba(50, 71, 92, 0.6);
}

.ecommerce .container .row2 .box4-wrapper .box4 .box42 .bottom {
  padding: 26px 24px 24px;
}

.ecommerce .container .row2 .box4-wrapper .box4 .box42 .bottom .report-item {
  display: flex;
  background-color: #f5f5f9;
  padding: 8px 12px;
  border-radius: 6px;
  margin-bottom: 20px;
  align-items: center;
}

.ecommerce .container .row2 .box4-wrapper .box4 .box42 .bottom .report-item .left {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 5px;
  margin-right: 0.75rem;
}

.ecommerce .container .row2 .box4-wrapper .box4 .box42 .bottom .report-item .left img {
  width: 20px;
  height: 22px;
}

.ecommerce .container .row2 .box4-wrapper .box4 .box42 .bottom .report-item .right {
  display: flex;
  align-items: end;
}

.ecommerce .container .row2 .box4-wrapper .box4 .box42 .bottom .report-item .right .detail .title {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: rgba(50, 71, 92, 0.6);
}

.ecommerce .container .row2 .box4-wrapper .box4 .box42 .bottom .report-item .right .detail .dollar {
  line-height: 1.5;
  color: rgba(50, 71, 92, 0.87);
  font-weight: 500;
  font-size: 1.125rem;
}

.ecommerce .container .row2 .box4-wrapper .box4 .box42 .bottom .report-item .right .change {
  font-size: 0.875rem;
  line-height: 1.43;
  font-weight: 500;
  margin-left: 10px;
}

.ecommerce .container .row2 .box4-wrapper .box4 .box42 .bottom .report-item .right .change.pos {
  color: #71dd37;
}

.ecommerce .container .row2 .box4-wrapper .box4 .box42 .bottom .report-item .right .change.neg {
  color: #ff3e1d;
}

.ecommerce .container .row3 {
  margin-top: 24px;
  display: flex;
}

.ecommerce .container .row3 .box5-wrapper {
  flex: 1;
}

.ecommerce .container .row3 .box5-wrapper .box5 {
  background-color: white;
  border-radius: 8px;
}

.ecommerce .container .row3 .box5-wrapper .box5 .top {
  padding: 24px;
  padding-bottom: 0;
  display: flex;
  justify-content: space-between;
}

.ecommerce .container .row3 .box5-wrapper .box5 .top div {
  line-height: 1.6;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.15px;
  color: rgba(50, 71, 92, 0.87);
}

.ecommerce .container .row3 .box5-wrapper .box5 .top button {
  border: none;
  background-color: white;
  color: rgba(50, 71, 92, 0.54);
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ecommerce .container .row3 .box5-wrapper .box5 .top button:hover {
  background-color: #f5f5f9;
  border-radius: 50%;
}

.ecommerce .container .row3 .box5-wrapper .box5 .bottom {
  padding: 0 24px 24px;
}

.ecommerce .container .row3 .box5-wrapper .box5 .bottom .earning {
  display: flex;
}

.ecommerce .container .row3 .box5-wrapper .box5 .bottom .earning .left,
.ecommerce .container .row3 .box5-wrapper .box5 .bottom .earning .right {
  flex: 1;
  padding-top: 24px;
}

.ecommerce .container .row3 .box5-wrapper .box5 .bottom .earning .earning-detail {
  font-size: 0.875rem;
  line-height: 1.43;
  color: rgba(50, 71, 92, 0.6);
}

.ecommerce .container .row3 .box5-wrapper .box5 .bottom .earning .earning-detail .title {
  margin-right: 6px;
}

.ecommerce .container .row3 .box5-wrapper .box5 .bottom .chart {
  height: 313px;
}

.ecommerce .container .row3 .boxes-wrapper {
  flex: 2;
  display: flex;
}

.ecommerce .container .row3 .boxes-wrapper .box6-wrapper {
  flex: 1;
  margin-left: 24px;
}

.ecommerce .container .row3 .boxes-wrapper .box6-wrapper .box6 {
  background-color: white;
  border-radius: 8px;
}

.ecommerce .container .row3 .boxes-wrapper .box6-wrapper .box6 .header {
  padding: 24px 24px 8px;
  display: flex;
  justify-content: space-between;
}

.ecommerce .container .row3 .boxes-wrapper .box6-wrapper .box6 .header .header-content .title {
  line-height: 1.6;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.15px;
  color: rgba(50, 71, 92, 0.87);
}

.ecommerce .container .row3 .boxes-wrapper .box6-wrapper .box6 .header .header-content .compare {
  font-size: 14px;
  margin-top: 5px;
  color: rgba(50, 71, 92, 0.6);
}

.ecommerce .container .row3 .boxes-wrapper .box6-wrapper .box6 .header button {
  border: none;
  background-color: white;
  color: rgba(50, 71, 92, 0.54);
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ecommerce .container .row3 .boxes-wrapper .box6-wrapper .box6 .header button:hover {
  background-color: #f5f5f9;
  border-radius: 50%;
}

.ecommerce .container .row3 .boxes-wrapper .box6-wrapper .box6 .content {
  padding: 10px 24px 24px;
}

.ecommerce .container .row3 .boxes-wrapper .box6-wrapper .box6 .content .data {
  display: flex;
  justify-content: space-between;
  margin-bottom: 13px;
}

.ecommerce .container .row3 .boxes-wrapper .box6-wrapper .box6 .content .data .left {
  display: flex;
  align-items: center;
}

.ecommerce .container .row3 .boxes-wrapper .box6-wrapper .box6 .content .data .left h4 {
  font-size: 32px;
  line-height: 1.235;
  color: rgba(50, 71, 92, 0.87);
  margin: 0px 6px 0px 0px;
  font-weight: 500;
}

.ecommerce .container .row3 .boxes-wrapper .box6-wrapper .box6 .content .data .left .increase {
  display: flex;
  justify-content: center;
  color: #71dd37;
}

.ecommerce .container .row3 .boxes-wrapper .box6-wrapper .box6 .content .data .left .increase p {
  font-size: 0.875rem;
  line-height: 22px;
  font-weight: 500;
}

.ecommerce .container .row3 .boxes-wrapper .box6-wrapper .box6 .content .data .right .chart {
  width: 125px;
  height: 70px;
}

.ecommerce .container .row3 .boxes-wrapper .box6-wrapper .box6 .content .conversion-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.ecommerce .container .row3 .boxes-wrapper .box6-wrapper .box6 .content .conversion-item .info .title {
  font-size: 16px;
  line-height: 1.5;
  color: rgba(50, 71, 92, 0.87);
  font-weight: 500;
  margin-bottom: 3px;
}

.ecommerce .container .row3 .boxes-wrapper .box6-wrapper .box6 .content .conversion-item .info .desc {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.43;
  color: rgba(50, 71, 92, 0.38);
}

.ecommerce .container .row3 .boxes-wrapper .box6-wrapper .box6 .content .conversion-item .change {
  display: flex;
}

.ecommerce .container .row3 .boxes-wrapper .box6-wrapper .box6 .content .conversion-item .change .icon.pos {
  width: 18px;
  height: 18px;
  color: #71dd37;
  margin-right: 12px;
}

.ecommerce .container .row3 .boxes-wrapper .box6-wrapper .box6 .content .conversion-item .change .icon.neg {
  width: 18px;
  height: 18px;
  color: #ff3e1d;
  margin-right: 12px;
}

.ecommerce .container .row3 .boxes-wrapper .box6-wrapper .box6 .content .conversion-item .change p {
  font-size: 14px;
  line-height: 1.43;
  color: rgba(50, 71, 92, 0.6);
  font-weight: 500;
}

.ecommerce .container .row3 .boxes-wrapper .box6-wrapper .box6 .content .conversion-last {
  margin-bottom: 0;
}

.ecommerce .container .row3 .boxes-wrapper .box7-wrapper {
  flex: 1;
  margin-left: 24px;
}

.ecommerce .container .row3 .boxes-wrapper .box7-wrapper .box7 .top-box {
  display: flex;
}

.ecommerce .container .row3 .boxes-wrapper .box7-wrapper .box7 .top-box .box71 {
  flex: 1;
  background-color: white;
  border-radius: 8px;
}

.ecommerce .container .row3 .boxes-wrapper .box7-wrapper .box7 .top-box .box71 .top {
  display: flex;
  height: 42px;
  margin-bottom: 16px;
  justify-content: space-between;
}

.ecommerce .container .row3 .boxes-wrapper .box7-wrapper .box7 .top-box .box71 .top img {
  width: 42px;
  height: 42px;
}

.ecommerce .container .row3 .boxes-wrapper .box7-wrapper .box7 .top-box .box71 .top button {
  background-color: white;
  border: none;
  width: 32px;
  height: 32px;
}

.ecommerce .container .row3 .boxes-wrapper .box7-wrapper .box7 .top-box .box71 .top button:hover {
  background-color: #f5f5f9;
  border-radius: 50%;
}

.ecommerce .container .row3 .boxes-wrapper .box7-wrapper .box7 .top-box .box71 .bottom .info {
  margin: 0px 0px 0.125rem;
  font-size: 1rem;
  line-height: 1.5;
  color: rgba(50, 71, 92, 0.6);
  font-weight: 600;
}

.ecommerce .container .row3 .boxes-wrapper .box7-wrapper .box7 .top-box .box71 .bottom h5 {
  line-height: 1.334;
  color: rgba(50, 71, 92, 0.87);
  margin: 0px 0px 0.5rem;
  font-weight: 500;
  font-size: 24px;
}

.ecommerce .container .row3 .boxes-wrapper .box7-wrapper .box7 .top-box .box71 .bottom div {
  display: flex;
  color: #71dd37;
}

.ecommerce .container .row3 .boxes-wrapper .box7-wrapper .box7 .top-box .box71 .bottom div p {
  font-size: 0.875rem;
  line-height: 1.43;
  color: #71dd37;
  font-weight: 500;
}

.ecommerce .container .row3 .boxes-wrapper .box7-wrapper .box7 .top-box .box72 {
  flex: 1;
  background-color: white;
  border-radius: 8px;
  margin-left: 24px;
}

.ecommerce .container .row3 .boxes-wrapper .box7-wrapper .box7 .top-box .box72 .sales {
  font-size: 16px;
  line-height: 1.5;
  color: rgba(50, 71, 92, 0.6);
  font-weight: 600;
  margin-bottom: 8px;
}

.ecommerce .container .row3 .boxes-wrapper .box7-wrapper .box7 .top-box .box72 h5 {
  font-size: 24px;
  line-height: 1.334;
  color: rgba(50, 71, 92, 0.87);
  font-weight: 500;
  margin-bottom: 6px;
}

.ecommerce .container .row3 .boxes-wrapper .box7-wrapper .box7 .top-box .box72 .data {
  padding: 0 10px;
  height: 24px;
  color: #03c3ec;
  background-color: rgba(3, 195, 236, 0.16);
  margin-bottom: 0.875rem;
  font-weight: 500;
  display: inline-block;
  border-radius: 5px;
  font-size: 13px;
  line-height: 24px;
}

.ecommerce .container .row3 .boxes-wrapper .box7-wrapper .box7 .top-box .box72 .target {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.43;
  color: rgba(50, 71, 92, 0.38);
}

.ecommerce .container .row3 .boxes-wrapper .box7-wrapper .box7 .top-box .box72 .chart {
  display: flex;
  align-items: center;
  width: 100%;
}

.ecommerce .container .row3 .boxes-wrapper .box7-wrapper .box7 .top-box .box72 .chart .line-chart {
  margin-right: 8px;
}

.ecommerce .container .row3 .boxes-wrapper .box7-wrapper .box7 .top-box .box72 .chart .line-chart .line-progress {
  height: 8px;
  margin-right: 8px;
  width: 100%;
}

.ecommerce .container .row3 .boxes-wrapper .box7-wrapper .box7 .top-box .box72 .chart p {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.43;
  color: rgba(50, 71, 92, 0.6);
}

.ecommerce .container .row3 .boxes-wrapper .box7-wrapper .box7 .box73 {
  margin-top: 24px;
  background-color: white;
  border-radius: 8px;
}

.ecommerce .container .row3 .boxes-wrapper .box7-wrapper .box7 .box73 .box73-inner {
  display: flex;
  padding: 14px 20px 20px;
  justify-content: space-between;
}

.ecommerce .container .row3 .boxes-wrapper .box7-wrapper .box7 .box73 .box73-inner .left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ecommerce .container .row3 .boxes-wrapper .box7-wrapper .box7 .box73 .box73-inner .left h6 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.6;
  color: rgba(50, 71, 92, 0.87);
}

.ecommerce .container .row3 .boxes-wrapper .box7-wrapper .box7 .box73 .box73-inner .left .detail h5 {
  font-size: 24px;
  line-height: 1.334;
  color: rgba(50, 71, 92, 0.87);
  margin-bottom: 4px;
  font-weight: 500;
}

.ecommerce .container .row3 .boxes-wrapper .box7-wrapper .box7 .box73 .box73-inner .left .detail .change {
  color: #ff3e1d;
  display: flex;
}

.ecommerce .container .row3 .boxes-wrapper .box7-wrapper .box7 .box73 .box73-inner .left .detail .change .icon {
  height: 22px;
  width: 22px;
}

.ecommerce .container .row3 .boxes-wrapper .box7-wrapper .box7 .box73 .box73-inner .left .detail .change p {
  font-size: 14px;
  line-height: 22px;
  color: #ff3e1d;
  font-weight: 500;
}

.ecommerce .container .row3 .boxes-wrapper .box7-wrapper .box7 .box73 .box73-inner .left .month {
  border-radius: 4px;
  box-sizing: border-box;
  height: 28px;
  color: #8592a3;
  background-color: rgba(133, 146, 163, 0.16);
  font-weight: 500;
  display: flex;
  align-items: center;
}

.ecommerce .container .row3 .boxes-wrapper .box7-wrapper .box7 .box73 .box73-inner .left .month span {
  text-transform: uppercase;
  padding: 0 10px;
  font-size: 13px;
}

.ecommerce .container .row3 .boxes-wrapper .box7-wrapper .box7 .box73 .box73-inner .right .chart {
  width: 200px;
  height: 200px;
}

.ecommerce .container .row4 {
  margin-top: 24px;
  display: flex;
}

.ecommerce .container .row4 .box8-wrapper {
  flex: 2;
}

.ecommerce .container .row4 .box8-wrapper .box8 {
  background-color: white;
  border-radius: 8px;
}

.ecommerce .container .row4 .box8-wrapper .box8 .table-chart .css-1ex1afd-MuiTableCell-root {
  padding: 7px 16px;
}

.ecommerce .container .row4 .box8-wrapper .box8 .table-chart tr:last-child th {
  border: none;
}

.ecommerce .container .row4 .box8-wrapper .box8 .table-chart tr:last-child td {
  border: none;
}

.ecommerce .container .row4 .box8-wrapper .box8 .table-chart .cell {
  font-size: 12px;
  letter-spacing: 1px;
  padding: 12px 16px;
  line-height: 12px;
  font-weight: 500;
}

.ecommerce .container .row4 .box8-wrapper .box8 .table-chart .cell.cell1 {
  padding: 12px 16px 12px 24px;
}

.ecommerce .container .row4 .box8-wrapper .box8 .table-chart .product {
  display: flex;
  align-items: center;
}

.ecommerce .container .row4 .box8-wrapper .box8 .table-chart .product img {
  width: 32px;
  height: 32px;
  margin-right: 12px;
}

.ecommerce .container .row4 .box8-wrapper .box8 .table-chart .product .detail .name {
  font-size: 16px;
  line-height: 1.5;
  color: rgba(50, 71, 92, 0.6);
  font-weight: 600;
}

.ecommerce .container .row4 .box8-wrapper .box8 .table-chart .product .detail .brandName {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.43;
  color: rgba(50, 71, 92, 0.38);
}

.ecommerce .container .row4 .box8-wrapper .box8 .table-chart .category {
  display: flex;
  align-items: center;
}

.ecommerce .container .row4 .box8-wrapper .box8 .table-chart .category .icons .icon-wrapper {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ecommerce .container .row4 .box8-wrapper .box8 .table-chart .category .icons .icon-wrapper.smartphone-wrapper {
  color: #696cff;
  background-color: rgba(105, 108, 255, 0.16);
}

.ecommerce .container .row4 .box8-wrapper .box8 .table-chart .category .icons .icon-wrapper.mouse-wrapper {
  color: #ffab00;
  background-color: rgba(255, 171, 0, 0.16);
}

.ecommerce .container .row4 .box8-wrapper .box8 .table-chart .category .icons .icon-wrapper.computer-wrapper {
  color: #03c3ec;
  background-color: rgba(3, 195, 236, 0.16);
}

.ecommerce .container .row4 .box8-wrapper .box8 .table-chart .category .icons .icon-wrapper.tv-wrapper {
  color: #ff3e1d;
  background-color: rgba(255, 62, 29, 0.16);
}

.ecommerce .container .row4 .box8-wrapper .box8 .table-chart .category p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: rgba(50, 71, 92, 0.6);
}

.ecommerce .container .row4 .box8-wrapper .box8 .table-chart .payment .partially .first {
  font-size: 16px;
  line-height: 1.5;
  color: #696cff;
  font-weight: 600;
}

.ecommerce .container .row4 .box8-wrapper .box8 .table-chart .payment .partially .second {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: rgba(50, 71, 92, 0.38);
}

.ecommerce .container .row4 .box8-wrapper .box8 .table-chart .payment .fully .first {
  font-size: 16px;
  line-height: 1.5;
  color: #696cff;
  font-weight: 600;
}

.ecommerce .container .row4 .box8-wrapper .box8 .table-chart .payment .unpaid .first {
  font-size: 16px;
  line-height: 1.5;
  color: #696cff;
  font-weight: 600;
}

.ecommerce .container .row4 .box8-wrapper .box8 .table-chart .payment .unpaid .second {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: rgba(50, 71, 92, 0.38);
}

.ecommerce .container .row4 .box8-wrapper .box8 .table-chart .payment p {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.43;
  color: rgba(50, 71, 92, 0.38);
}

.ecommerce .container .row4 .box8-wrapper .box8 .table-chart .orderStatus .status {
  border-radius: 4px;
  height: 24px;
  font-weight: 500;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
}

.ecommerce .container .row4 .box8-wrapper .box8 .table-chart .orderStatus .status.confirmed {
  color: #696cff;
  background-color: rgba(105, 108, 255, 0.16);
}

.ecommerce .container .row4 .box8-wrapper .box8 .table-chart .orderStatus .status.completed {
  color: #71dd37;
  background-color: rgba(113, 221, 55, 0.16);
}

.ecommerce .container .row4 .box8-wrapper .box8 .table-chart .orderStatus .status.cancelled {
  color: #ff3e1d;
  background-color: rgba(255, 62, 29, 0.16);
}

.ecommerce .container .row4 .box8-wrapper .box8 .table-chart .actions {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(50, 71, 92, 0.54);
}

.ecommerce .container .row4 .box9-wrapper {
  flex: 1;
}

.ecommerce .container .row4 .box9-wrapper .box9 {
  background-color: white;
  margin-left: 24px;
  border-radius: 8px;
}

.ecommerce .container .row4 .box9-wrapper .box9 .top {
  padding: 24px;
  display: flex;
  justify-content: space-between;
}

.ecommerce .container .row4 .box9-wrapper .box9 .top .header span {
  display: block;
  color: rgba(50, 71, 92, 0.87);
  line-height: 1.6;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.15px;
}

.ecommerce .container .row4 .box9-wrapper .box9 .top .button button {
  border: none;
  background-color: white;
  color: rgba(50, 71, 92, 0.54);
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ecommerce .container .row4 .box9-wrapper .box9 .top .button button:hover {
  background-color: #f5f5f9;
  border-radius: 50%;
  cursor: pointer;
}

.ecommerce .container .row4 .box9-wrapper .box9 .bottom {
  padding: 0 24px 24px;
}

.ecommerce .container .row4 .box9-wrapper .box9 .bottom .balance {
  display: flex;
}

.ecommerce .container .row4 .box9-wrapper .box9 .bottom .balance .wallet-wrapper {
  flex: 1;
}

.ecommerce .container .row4 .box9-wrapper .box9 .bottom .balance .wallet-wrapper .wallet {
  display: flex;
  align-items: center;
}

.ecommerce .container .row4 .box9-wrapper .box9 .bottom .balance .wallet-wrapper .wallet .wallet-icon {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  color: #ffab00;
  background-color: rgba(255, 171, 0, 0.16);
  margin-right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ecommerce .container .row4 .box9-wrapper .box9 .bottom .balance .paypal-wrapper {
  flex: 1;
  margin-left: 24px;
}

.ecommerce .container .row4 .box9-wrapper .box9 .bottom .balance .paypal-wrapper .paypal {
  display: flex;
  align-items: center;
}

.ecommerce .container .row4 .box9-wrapper .box9 .bottom .balance .paypal-wrapper .paypal .paypal-icon {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  color: #8592a3;
  background-color: rgba(133, 146, 163, 0.16);
  margin-right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ecommerce .container .row4 .box9-wrapper .box9 .bottom .balance .details h6 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.6;
  color: rgba(50, 71, 92, 0.87);
}

.ecommerce .container .row4 .box9-wrapper .box9 .bottom .balance .details p {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.43;
  color: rgba(50, 71, 92, 0.6);
}

.ecommerce .container .row4 .box9-wrapper .box9 .bottom .chart {
  width: 100%;
  height: 228px;
}

.ecommerce .container .row4 .box9-wrapper .box9 .bottom .chart .recharts-cartesian-axis-tick-line {
  display: none;
}

.ecommerce .container .row4 .box9-wrapper .box9 .bottom .chart .recharts-cartesian-axis-line {
  display: none;
}

.ecommerce .container .row4 .box9-wrapper .box9 .bottom .more-wrapper {
  display: flex;
  justify-content: space-between;
}

.ecommerce .container .row4 .box9-wrapper .box9 .bottom .more-wrapper .checkBadge .sales,
.ecommerce .container .row4 .box9-wrapper .box9 .bottom .more-wrapper .checkBadge .check {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.43;
  color: rgba(50, 71, 92, 0.6);
}

.ecommerce .container .row4 .box9-wrapper .box9 .bottom .more-wrapper .rightArrow {
  width: 34px;
  height: 34px;
  border-radius: 5px;
  color: #ffab00;
  background-color: rgba(255, 171, 0, 0.16);
  display: flex;
  align-items: center;
  justify-content: center;
}

.ecommerce .container .row4 .box9-wrapper .box9 .bottom .more-wrapper .rightArrow .arrow {
  width: 28px;
  height: 28px;
}

.ecommerce .container.dark {
  background-color: #2b2c40;
}

.ecommerce .container.dark .percent.up {
  color: #71dd37 !important;
}

.ecommerce .container.dark .percent.down {
  color: #ff3e1d !important;
}

.ecommerce .container.dark .box1, .ecommerce .container.dark .box2, .ecommerce .container.dark .box31, .ecommerce .container.dark .box32, .ecommerce .container.dark .box33, .ecommerce .container.dark .box34, .ecommerce .container.dark .box4, .ecommerce .container.dark .box5, .ecommerce .container.dark .box6, .ecommerce .container.dark .box71, .ecommerce .container.dark .box72, .ecommerce .container.dark .box73, .ecommerce .container.dark .box8, .ecommerce .container.dark .box9 {
  background-color: #404261 !important;
}

.ecommerce .container.dark .box1 p, .ecommerce .container.dark .box1 h6, .ecommerce .container.dark .box1 h4, .ecommerce .container.dark .box1 h5, .ecommerce .container.dark .box2 p, .ecommerce .container.dark .box2 h6, .ecommerce .container.dark .box2 h4, .ecommerce .container.dark .box2 h5, .ecommerce .container.dark .box31 p, .ecommerce .container.dark .box31 h6, .ecommerce .container.dark .box31 h4, .ecommerce .container.dark .box31 h5, .ecommerce .container.dark .box32 p, .ecommerce .container.dark .box32 h6, .ecommerce .container.dark .box32 h4, .ecommerce .container.dark .box32 h5, .ecommerce .container.dark .box33 p, .ecommerce .container.dark .box33 h6, .ecommerce .container.dark .box33 h4, .ecommerce .container.dark .box33 h5, .ecommerce .container.dark .box34 p, .ecommerce .container.dark .box34 h6, .ecommerce .container.dark .box34 h4, .ecommerce .container.dark .box34 h5, .ecommerce .container.dark .box4 p, .ecommerce .container.dark .box4 h6, .ecommerce .container.dark .box4 h4, .ecommerce .container.dark .box4 h5, .ecommerce .container.dark .box5 p, .ecommerce .container.dark .box5 h6, .ecommerce .container.dark .box5 h4, .ecommerce .container.dark .box5 h5, .ecommerce .container.dark .box6 p, .ecommerce .container.dark .box6 h6, .ecommerce .container.dark .box6 h4, .ecommerce .container.dark .box6 h5, .ecommerce .container.dark .box71 p, .ecommerce .container.dark .box71 h6, .ecommerce .container.dark .box71 h4, .ecommerce .container.dark .box71 h5, .ecommerce .container.dark .box72 p, .ecommerce .container.dark .box72 h6, .ecommerce .container.dark .box72 h4, .ecommerce .container.dark .box72 h5, .ecommerce .container.dark .box73 p, .ecommerce .container.dark .box73 h6, .ecommerce .container.dark .box73 h4, .ecommerce .container.dark .box73 h5, .ecommerce .container.dark .box8 p, .ecommerce .container.dark .box8 h6, .ecommerce .container.dark .box8 h4, .ecommerce .container.dark .box8 h5, .ecommerce .container.dark .box9 p, .ecommerce .container.dark .box9 h6, .ecommerce .container.dark .box9 h4, .ecommerce .container.dark .box9 h5 {
  color: #fff !important;
}

.ecommerce .container.dark .box2 .recharts-text {
  fill: #fff;
}

.ecommerce .container.dark .box31 button, .ecommerce .container.dark .box34 button, .ecommerce .container.dark .box6 button, .ecommerce .container.dark .box71 button, .ecommerce .container.dark .box9 button {
  background-color: #404261 !important;
  color: #fff !important;
}

.ecommerce .container.dark .box33 text {
  fill: #fff;
}

.ecommerce .container.dark .box41 .income, .ecommerce .container.dark .box41 .overview, .ecommerce .container.dark .box9 .income, .ecommerce .container.dark .box9 .overview {
  color: #fff !important;
}

.ecommerce .container.dark .box41 .recharts-text, .ecommerce .container.dark .box9 .recharts-text {
  fill: #fff;
}

.ecommerce .container.dark .box42 .title, .ecommerce .container.dark .box42 .ave {
  color: #fff !important;
}

.ecommerce .container.dark .box42 .report-item.dark {
  background-color: #505379 !important;
}

.ecommerce .container.dark .box42 .report-item.dark .left {
  background-color: #2b2c40 !important;
}

.ecommerce .container.dark .box5 .performance {
  color: #fff !important;
}

.ecommerce .container.dark .box5 button {
  background-color: #404261 !important;
  color: #fff !important;
}

.ecommerce .container.dark .box8 .MuiTableCell-root, .ecommerce .container.dark .box8 .actions, .ecommerce .container.dark .box8 .second {
  color: #fff !important;
}

.ecommerce .container.dark .box9 .totalBalance {
  color: #fff !important;
}

.ecommerce .container.dark .box9 .divider {
  border-color: #fff !important;
}
