.navbar {
    height: 65px;
    background-color: white;
    border-radius: 8px;
    margin-top: 12px;
    display: flex;
    align-items: center;
    position: fixed;
    width: calc(100% - 140px);
    z-index: 2;

    .wrapper {
        padding: 0 24px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 40px;
        width: 100%;

        .search {
            display: flex;
            align-items: center;
            padding: 3px;
            height: 100%;

            .icon.dark {
                color: #fff;
            }

            input {
                height: 100%;
                border: none;
                outline: none;
                background: transparent;
                font-size: 16px;

                &::placeholder {
                    font-size: 16px;
                }
            }
        }

        .items {
            display: flex;
            align-items: center;

            .item {
                margin-right: 3px;
                padding: 8px;
                border: none;
                border-radius: 50%;
                width: 38px;
                height: 38px;
                background-color: white;
                display: inline-block;
                cursor: pointer;

                .nav-icon {
                    font-size: 22px;
                }

                .nav-icon.dark {
                    color: #fff;
                }

                .notifi-counter {
                    width: 8px;
                    height: 8px;
                    background-color: red;
                    border-radius: 50%;
                }

                .avatar {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                }

                .status {
                    height: 14px;
                    width: 14px;
                    background-color: white;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .status-inner {
                        height: 8px;
                        width: 8px;
                        border-radius: 50%;
                        background-color: #8fdf82;
                    }
                }

                .status.dark {
                    background-color: #404261;
                }
            }

            .item.dark {
                background-color: #404261;
            }

            .user-options.active {
                position: absolute;
                top: 70px;
                right: 30px;
                background-color: #ffffff;
                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                border-radius: 6px;

                ul {
                    list-style: none;
                    padding: 8px 0;

                    .options-top {
                        display: flex;
                        gap: 0.5rem;
                        padding: 8px 20px;

                        .profile-info {
                            h6 {
                                font-weight: 500;
                                font-size: 0.9375rem;
                                line-height: 1.46667;
                                color: rgba(34, 48, 62, 0.9);
                            }

                            p {
                                font-weight: 400;
                                font-size: 0.8125rem;
                                line-height: 1.53846;
                                color: rgba(34, 48, 62, 0.4);
                            }
                        }

                    }

                    hr {
                        margin-block: 0.25rem;
                        border-width: 0px 0px thin;
                        border-style: solid;
                        border-color: rgba(34, 48, 62, 0.12);
                    }

                    li {
                        display: flex;
                        gap: .75rem;
                        cursor: pointer;
                        font-size: 0.9375rem;
                        line-height: 1.46667;
                        justify-content: start;
                        align-items: center;
                        padding: 0.5rem 1.25rem;
                        color: rgba(34, 48, 62, 0.9);

                        &:hover {
                            background-color: rgba(34, 48, 62, 0.06);
                            ;
                        }
                    }
                }
            }

            .user-options.active.dark {
                background-color: #404261;

                h6,
                p {
                    color: #fff !important;
                }

                .icon.dark {
                    color: #fff;
                }

                .options-top.dark:hover {
                    background-color: rgba(105, 108, 255, 0.3);
                }

                .user-option-item:hover {
                    background-color: rgba(105, 108, 255, 0.3);
                }

            }

            .user-options.inactive {
                display: none;
            }

            .themeMode-options.active {
                position: absolute;
                top: 70px;
                right: 130px;
                background-color: #ffffff;
                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                border-radius: 6px;

                ul {
                    list-style: none;
                    padding: 8px 0;

                    li {
                        display: flex;
                        gap: .75rem;
                        cursor: pointer;
                        font-size: 0.9375rem;
                        line-height: 1.46667;
                        justify-content: start;
                        align-items: center;
                        // padding: 0.5rem 1.25rem;
                        color: rgba(34, 48, 62, 0.9);
                        padding: 8px 40px 8px 20px;

                        &:hover {
                            background-color: rgba(34, 48, 62, 0.06);
                            ;
                        }
                    }
                }
            }

            .themeMode-options.active.dark {
                position: absolute;
                top: 70px;
                right: 130px;
                background-color: #404261;
                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                border-radius: 6px;

                ul {
                    list-style: none;
                    padding: 8px 0;

                    .theme-option {
                        display: flex;
                        gap: .75rem;
                        cursor: pointer;
                        font-size: 0.9375rem;
                        line-height: 1.46667;
                        justify-content: start;
                        align-items: center;
                        // padding: 0.5rem 1.25rem;
                        color: #fff;
                        padding: 8px 40px 8px 20px;

                        &:hover {
                            background-color: rgba(34, 48, 62, 0.06);
                            ;
                        }
                    }
                    .theme-option.dark{
                        &:hover{
                            background-color: #565982 !important;
                        }
                    }
                }
            }


            .themeMode-options.inactive {
                display: none;
            }
        }

    }
}

.navbar.dark {
    background-color: #404261;
}