.emailDetail {
    height: 100%;
    .header {
        padding: 12px 11px;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid rgba(50, 71, 92, 0.12);

        .left {
            display: flex;

            button {
                border: none;
                background-color: white;
                width: 42px;
                height: 42px;
                padding: 5px;
                margin-right: 14px;
                display: flex;
                align-items: center;
                justify-content: center;

                &:hover {
                    background-color: #f0f2f5;
                    border-radius: 50%;
                    cursor: pointer;
                }
            }

            .subject-label {
                display: flex;
                align-items: center;

                p {
                    font-size: 16px;
                    line-height: 1.5;
                    color: rgba(50, 71, 92, 0.87);
                    font-weight: 500;
                    margin-right: 8px;
                }

                .labels {
                    display: flex;

                    .label {
                        margin-right: 4px;
                        border-radius: 4px;
                        height: 24px;
                        font-size: 13px;
                        line-height: 24px;

                        span {
                            text-transform: uppercase;
                            padding: 0rem 10px;
                        }
                    }
                }
            }
        }

        .right {
            display: flex;
            align-items: center;

            button {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 32px;
                height: 32px;
                color: rgba(50, 71, 92, 0.87);
                border: none;
                background-color: white;

                &:hover {
                    background-color: #f0f2f5;
                    border-radius: 50%;
                    cursor: pointer;
                }
            }
        }

    }

    .actions {
        padding: 12px 8px 12px 12px;
        border-bottom: 1px solid rgba(50, 71, 92, 0.12);

        .actions-content {
            display: flex;
            justify-content: space-between;

            button {
                width: 32px;
                height: 32px;
                display: flex;
                align-items: center;
                justify-content: center;
                border: none;
                background-color: white;
                color: rgba(50, 71, 92, 0.54);

                &:hover {
                    background-color: #f0f2f5;
                    border-radius: 50%;
                    cursor: pointer;
                }
            }

            .left {
                display: flex;
                position:relative;
                .thirdOption {
                    z-index: 1;
                    position: absolute;
                    bottom: -45px;
                    right: -45px;
                    list-style: none;
                    display: flex;
                    align-items: center;
                    padding: 8px 20px;
                    cursor: pointer;
                    background-color: white;
                    border-radius: 6px;
                    box-shadow: rgba(50, 71, 92, 0.2) 0px 5px 5px -3px, rgba(50, 71, 92, 0.14) 0px 8px 10px 1px, rgba(50, 71, 92, 0.12) 0px 3px 14px 2px;

                    &:hover {
                        background-color: #f2f2f2;
                    }

                    li {
                        display: flex;
                        align-items: center;
                        font-size: 16px;
                        line-height: 1.5;

                        span {
                            margin-left: 8px;
                        }
                    }
                }
                .fourthOption {
                    z-index: 1;
                    position: absolute;
                    bottom: -165px;
                    right: -85px;
                    list-style: none;
                    display: flex;
                    flex-direction: column;
                    padding: 8px 20px;
                    cursor: pointer;
                    background-color: white;
                    border-radius: 6px;
                    box-shadow: rgba(50, 71, 92, 0.2) 0px 5px 5px -3px, rgba(50, 71, 92, 0.14) 0px 8px 10px 1px, rgba(50, 71, 92, 0.12) 0px 3px 14px 2px;
                    padding: 0;
                    

                    li {
                        display: flex;
                        align-items: center;
                        font-size: 16px;
                        line-height: 1.5;
                        padding: 8px 20px;
                        
                        &:hover {
                            background-color: #f2f2f2;
                        }

                        .circle{
                            height: 10px;
                            width: 10px;
                            border-radius: 50%;
                        }

                        .circle.personal{
                            background-color: green;
                        }
                        .circle.company{
                            background-color: purple;
                        }
                        .circle.important{
                            background-color: orange;
                        }
                        .circle.private{
                            background-color: red;
                        }

                        span {
                            margin-left: 12px;
                        }
                    }
                }
            }

            .right {
                display: flex;
            }
        }
    }

    main {
        background-color: rgb(242, 242, 247);
        padding: 16px 20px;
        height: 100vh;
        display: flex;
        flex-direction: column;

        .email-info {
            border-radius: 8px;
            background-color: white;
            flex: 1;

            .top {
                padding: 20px;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .left {
                    display: flex;
                    align-items: center;

                    .avatar {
                        margin-right: 10px;
                        display: flex;
                        align-items: center;

                        img {
                            border-radius: 50%;
                            width: 38px;
                            height: 38px;
                        }
                    }

                    .sender-detail {
                        .sender {
                            font-size: 16px;
                            line-height: 1.5;
                            color: rgba(50, 71, 92, 0.87);
                            font-weight: 500;
                        }

                        .from {
                            font-weight: 400;
                            font-size: 14px;
                            line-height: 1.43;
                            color: rgba(50, 71, 92, 0.6);
                        }
                    }
                }

                .right {
                    display: flex;
                    align-items: center;

                    .time {
                        font-weight: 400;
                        font-size: 12px;
                        line-height: 1.66;
                        color: rgba(50, 71, 92, 0.6);
                        margin-right: 12px;
                    }

                    button {
                        border: none;
                        background-color: white;
                        width: 42px;
                        height: 42px;
                        padding: 5px;
                        margin-right: 14px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: rgba(50, 71, 92, 0.6);

                        &:hover {
                            background-color: #f0f2f5;
                            border-radius: 50%;
                            cursor: pointer;
                        }
                    }
                }
            }

            hr {
                border-width: 0px 0px thin;
                border-style: solid;
                border-color: rgba(50, 71, 92, 0.12);
                margin: 0px !important;
            }

            .main {
                padding: 20px;
            }

        }

        .bottom {
            .bottom-wrapper {
                padding: 20px;
                margin-top: 16px;
                background-color: white;
                border-radius: 8px;

                p {
                    font-size: 16px;
                    line-height: 1.5;
                    color: rgba(50, 71, 92, 0.87);
                    font-weight: 500;
                    span{
                        color:rgb(105, 108, 255);
                        cursor: pointer;
                    }
                }
            }
        }
    }
}