.emailDetail {
  height: 100%;
}

.emailDetail .header {
  padding: 12px 11px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(50, 71, 92, 0.12);
}

.emailDetail .header .left {
  display: flex;
}

.emailDetail .header .left button {
  border: none;
  background-color: white;
  width: 42px;
  height: 42px;
  padding: 5px;
  margin-right: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.emailDetail .header .left button:hover {
  background-color: #f0f2f5;
  border-radius: 50%;
  cursor: pointer;
}

.emailDetail .header .left .subject-label {
  display: flex;
  align-items: center;
}

.emailDetail .header .left .subject-label p {
  font-size: 16px;
  line-height: 1.5;
  color: rgba(50, 71, 92, 0.87);
  font-weight: 500;
  margin-right: 8px;
}

.emailDetail .header .left .subject-label .labels {
  display: flex;
}

.emailDetail .header .left .subject-label .labels .label {
  margin-right: 4px;
  border-radius: 4px;
  height: 24px;
  font-size: 13px;
  line-height: 24px;
}

.emailDetail .header .left .subject-label .labels .label span {
  text-transform: uppercase;
  padding: 0rem 10px;
}

.emailDetail .header .right {
  display: flex;
  align-items: center;
}

.emailDetail .header .right button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  color: rgba(50, 71, 92, 0.87);
  border: none;
  background-color: white;
}

.emailDetail .header .right button:hover {
  background-color: #f0f2f5;
  border-radius: 50%;
  cursor: pointer;
}

.emailDetail .actions {
  padding: 12px 8px 12px 12px;
  border-bottom: 1px solid rgba(50, 71, 92, 0.12);
}

.emailDetail .actions .actions-content {
  display: flex;
  justify-content: space-between;
}

.emailDetail .actions .actions-content button {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: white;
  color: rgba(50, 71, 92, 0.54);
}

.emailDetail .actions .actions-content button:hover {
  background-color: #f0f2f5;
  border-radius: 50%;
  cursor: pointer;
}

.emailDetail .actions .actions-content .left {
  display: flex;
  position: relative;
}

.emailDetail .actions .actions-content .left .thirdOption {
  z-index: 1;
  position: absolute;
  bottom: -45px;
  right: -45px;
  list-style: none;
  display: flex;
  align-items: center;
  padding: 8px 20px;
  cursor: pointer;
  background-color: white;
  border-radius: 6px;
  box-shadow: rgba(50, 71, 92, 0.2) 0px 5px 5px -3px, rgba(50, 71, 92, 0.14) 0px 8px 10px 1px, rgba(50, 71, 92, 0.12) 0px 3px 14px 2px;
}

.emailDetail .actions .actions-content .left .thirdOption:hover {
  background-color: #f2f2f2;
}

.emailDetail .actions .actions-content .left .thirdOption li {
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 1.5;
}

.emailDetail .actions .actions-content .left .thirdOption li span {
  margin-left: 8px;
}

.emailDetail .actions .actions-content .left .fourthOption {
  z-index: 1;
  position: absolute;
  bottom: -165px;
  right: -85px;
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 8px 20px;
  cursor: pointer;
  background-color: white;
  border-radius: 6px;
  box-shadow: rgba(50, 71, 92, 0.2) 0px 5px 5px -3px, rgba(50, 71, 92, 0.14) 0px 8px 10px 1px, rgba(50, 71, 92, 0.12) 0px 3px 14px 2px;
  padding: 0;
}

.emailDetail .actions .actions-content .left .fourthOption li {
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 1.5;
  padding: 8px 20px;
}

.emailDetail .actions .actions-content .left .fourthOption li:hover {
  background-color: #f2f2f2;
}

.emailDetail .actions .actions-content .left .fourthOption li .circle {
  height: 10px;
  width: 10px;
  border-radius: 50%;
}

.emailDetail .actions .actions-content .left .fourthOption li .circle.personal {
  background-color: green;
}

.emailDetail .actions .actions-content .left .fourthOption li .circle.company {
  background-color: purple;
}

.emailDetail .actions .actions-content .left .fourthOption li .circle.important {
  background-color: orange;
}

.emailDetail .actions .actions-content .left .fourthOption li .circle.private {
  background-color: red;
}

.emailDetail .actions .actions-content .left .fourthOption li span {
  margin-left: 12px;
}

.emailDetail .actions .actions-content .right {
  display: flex;
}

.emailDetail main {
  background-color: #f2f2f7;
  padding: 16px 20px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.emailDetail main .email-info {
  border-radius: 8px;
  background-color: white;
  flex: 1;
}

.emailDetail main .email-info .top {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.emailDetail main .email-info .top .left {
  display: flex;
  align-items: center;
}

.emailDetail main .email-info .top .left .avatar {
  margin-right: 10px;
  display: flex;
  align-items: center;
}

.emailDetail main .email-info .top .left .avatar img {
  border-radius: 50%;
  width: 38px;
  height: 38px;
}

.emailDetail main .email-info .top .left .sender-detail .sender {
  font-size: 16px;
  line-height: 1.5;
  color: rgba(50, 71, 92, 0.87);
  font-weight: 500;
}

.emailDetail main .email-info .top .left .sender-detail .from {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.43;
  color: rgba(50, 71, 92, 0.6);
}

.emailDetail main .email-info .top .right {
  display: flex;
  align-items: center;
}

.emailDetail main .email-info .top .right .time {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.66;
  color: rgba(50, 71, 92, 0.6);
  margin-right: 12px;
}

.emailDetail main .email-info .top .right button {
  border: none;
  background-color: white;
  width: 42px;
  height: 42px;
  padding: 5px;
  margin-right: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(50, 71, 92, 0.6);
}

.emailDetail main .email-info .top .right button:hover {
  background-color: #f0f2f5;
  border-radius: 50%;
  cursor: pointer;
}

.emailDetail main .email-info hr {
  border-width: 0px 0px thin;
  border-style: solid;
  border-color: rgba(50, 71, 92, 0.12);
  margin: 0px !important;
}

.emailDetail main .email-info .main {
  padding: 20px;
}

.emailDetail main .bottom .bottom-wrapper {
  padding: 20px;
  margin-top: 16px;
  background-color: white;
  border-radius: 8px;
}

.emailDetail main .bottom .bottom-wrapper p {
  font-size: 16px;
  line-height: 1.5;
  color: rgba(50, 71, 92, 0.87);
  font-weight: 500;
}

.emailDetail main .bottom .bottom-wrapper p span {
  color: #696cff;
  cursor: pointer;
}

.emailDetail.dark .header {
  background-color: #404261;
}

.emailDetail.dark .header .left button {
  background-color: #404261;
  color: #d5d5e2;
}

.emailDetail.dark .header .left .subject-label p {
  color: #d5d5e2;
}

.emailDetail.dark .header .right button {
  background-color: #404261;
  color: #d5d5e2;
}

.emailDetail.dark .actions {
  background-color: #404261;
}

.emailDetail.dark .actions .actions-content .left button {
  background-color: #404261;
  color: #d5d5e2;
}

.emailDetail.dark .actions .actions-content .right button {
  background-color: #404261;
  color: #d5d5e2;
}

.emailDetail.dark main {
  background-color: #4d5075;
}

.emailDetail.dark main .email-info {
  overflow: hidden;
  background-color: #404261;
}

.emailDetail.dark main .email-info .top {
  background-color: #404261;
}

.emailDetail.dark main .email-info .top .left .sender-detail .sender,
.emailDetail.dark main .email-info .top .left .sender-detail .from {
  color: #d5d5e2;
}

.emailDetail.dark main .email-info .top .right .time {
  color: #d5d5e2;
}

.emailDetail.dark main .email-info .top .right button {
  background-color: #404261;
  color: #d5d5e2;
}

.emailDetail.dark main .email-info .divider {
  background-color: #8b8bc0;
}

.emailDetail.dark main .email-info .main {
  background-color: #404261;
  color: #9899ad;
}

.emailDetail.dark main .bottom .bottom-wrapper {
  background-color: #404261;
}

.emailDetail.dark main .bottom .bottom-wrapper p {
  color: #9899ad;
}
